{% extends "layout-v6.html" %}

{% block page_title %} What is your email address? {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-large"><span class="title">What is your email address?</span></h1>
                        </legend>

                        <p class="paragraph">Confirmation of any transactions will be sent to this email address</p>

                        {% include "includes/errors/error-message.html" %}

                        <label class="form-label visually-hidden" for="email">Email address</label>
                        <input class="form-control" id="email" type="text" name="email">
                    </fieldset>
                </div>

                {% include "includes/buttons/continue.html" %}
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('h1').click(function() {
            var testData = { "email": "enquiries@alshaulage.com" };
            $('input[id=email]').val(testData.email);
        });

        try { var type = member.user.type; } catch(err){}
        var refUrl = getRefUrl();

        $('.button').click(validate);

        function validate() {
            var validInput = true;
            var value = $('input[name=email]').val();

            if (!value) {
                validInput = false;
                hideErrors();
                showErrors();
                $('.error-summary-list li a').html('Provide an email address to continue');
                $('.error-message').html('Provide an email address');
            }

            if (validInput) {
                member.user.email = value;
                next();
            }
        }

        function next() {
            if (changing == "true") {
                if (refUrl == 'check-your-answers') {
                    go('/create/check-your-answers');
                } else {
                    go('/success');
                }
            } else {
                go('/create/check-your-answers');
            }
        }

        // If coming from check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            if (type == "company") {
                document.title = 'What is your company email address?';
                $('.title').html('What is your company email address?');
                $('.button').html('Save and continue');
            } else if (type == "personal") {
                document.title = 'What is your email address?';
                $('.title').html('What is your email address?');
                $('.button').html('Save and continue');
            }
        } else {
            if (type == "company") {
                document.title = 'What is your company email address?';
                $('.title').html('What is your company email address?');
                $('.button').html('Continue');
            } else if (type == "personal") {
                document.title = 'What is your email address';
                $('.title').html('What is your email address');
                $('.button').html('Continue');
            }
        }
    </script>
{% endblock %}