{% extends "layout-v6.html" %}

{% block page_title %} What is the name of your company? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts/default.html" %}
    <style type="text/css">
        .autocomplete-wrapper {
            max-width: 20em;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}

                <div class="form-group">
                    <fieldset data-required data-start="Name" data-error="Cannot be empty">
                        <legend class="visuallhidden">
                            <h1 class="heading-large"><span class="title">What is your name?</span></h1>
                        </legend>

                        <span id="name-input"></span>
                    </fieldset>
                </div>

                <!-- <div class="form-group">
                    <fieldset data-required>
                        <legend>
                            <h1 class="heading-large"><span class="title">What is the name of your company?</span></h1>
                        </legend>

                        <label class="form-label visually-hidden" for="manufacturer">Company name</label>
                        <!-- <label for="autocomplete-default">Company name</label> --
                        <div id="tt-default" class="autocomplete-wrapper"></div>
                        <!-- <input class="form-control" id="manufacturer" type="text" name="manufacturer"> --
                    </fieldset>
                </div> -->

                <!-- <p><a href="#">Company not listed</a></p> -->

                {% include "includes/buttons/continue.html" %}
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        try { var type = member.user.type; } catch(err){}
        var refUrl = getRefUrl();

        $(document).ready(function() {
            if (type == "company") {
                $('h1').click(function() {
                    var testData = {"companyName": "Road International Transport and Logistics GmbH (Austria)"};
                    $('input[name=company-name]').val(testData.companyName);
                });
                $('#company').show();
                $('#personal').hide();
                $('#name-input').html('<div class="form-group"><label class="form-label" for="company-name">Company name<span class="error-message input">Cannot be empty</span></label><input class="form-control" id="company-name" name="company-name" type="text"></div>');
            } else if (type == "personal") {
                $('h1').click(function() {
                    var testData = { "firstName": "Al", "lastName": "Selsig" };
                    $('input[name=first-name]').val(testData.firstName);
                    $('input[name=last-name]').val(testData.lastName);
                });
                $('#company').hide();
                $('#personal').show();
                $('#name-input').html('\
                <div class="form-group">\
                    <label class="form-label" for="first-name">\
                        First name\
                        <span class="error-message input">Cannot be empty</span>\
                    </label>\
                    <input class="form-control" id="first-name" name="first-name" type="text">\
                </div>\
                <div class="form-group">\
                    <label class="form-label" for="last-name">\
                        Last name\
                        <span class="error-message input2">Cannot be empty</span>\
                    </label>\
                    <input class="form-control" id="last-name" name="last-name" type="text">\
                </div>');
            }
        });

        $('.button').click(validate);

        function validate() {
            var validInput = true;
            var value1 = $('input[name=first-name]').val();
            var value2 = $('input[name=last-name]').val();
            var value3 = $('input[name=company-name]').val();

            if (type == "company") {
                if (!value3) {
                    validInput = false;
                    hideErrors();
                    showErrors();
                }
            } else if (type == "personal") {
                if ((!value1) || (!value2)) {
                    validInput = false;
                    hideErrors();
                    showErrors();
                }
            }

            if (validInput) {
                if (member.user === undefined) {
                    member.user = {};
                }

                if (type == "company") {
                    member.user.name = value3;
                } else if (type == "personal") {
                    member.user.firstName = value1;
                    member.user.lastName = value2;
                    member.user.fullName = value1 + ' ' + value2;
                }
                console.log('First name: ' + member.user.firstName);
                console.log('Last name: ' + member.user.lastName);
                console.log('name: ' + member.user.name);
                next();
            }

            function next() {
                if (changing == "true") {
                    if (refUrl == 'check-your-answers') {
                        go('/create/check-your-answers');
                    } else {
                        go('/success');
                    }
                } else {
                    go('/address/address-find');
                }
            }
        }

        // If coming from check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            if (type == "company") {
                document.title = 'Change your company name';
                $('.title').html('Change your company name');
                $('.error-message').html('Enter your company name');
                $('.paragraph').hide();
                $('.button').html('Save and continue');
            } else if (type == "personal") {
                document.title = 'Change your name';
                $('.title').html('Change your name');
                $('.error-message').html('Enter your name');
                $('.paragraph').hide();
                $('.button').html('Save and continue');
            }
        } else {
            if (type == "company") {
                document.title = 'What is your company name?';
                $('.title').html('What is your company name?');
                $('.error-message').html('Enter your company name');
                $('.button').html('Continue');
            } else if (type == "personal") {
                document.title = 'What is your name?';
                $('.title').html('What is your name?');
                $('.error-message').html('Enter your name');
                $('.button').html('Continue');
            }
        }
    </script>
{% endblock %}