{% extends "layout-v6.html" %}

{% block page_title %} Will you be travelling through any other countries to get to Spain? {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary-radio.html" %}

                <div class="form-group">
                    <fieldset class="inline">
                        <legend>
                            <h1 class="heading-large">Will you be travelling through any other countries to get to and from <span class="countries"></span>?</h1>
                        </legend>

                        {% include "includes/errors/error-message.html" %}

                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="radio-group" value="Y">
                            <label for="radio-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="radio-group" value="N">
                            <label for="radio-2">No</label>
                        </div>
                    </fieldset>
                </div>

                {% include "includes/buttons/continue.html" %}
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var countries = '';
        for (i=0; i < member.countries.length; i++) {
            if (i === (member.countries.length - 1)) {
                countries += member.countries[i];
            } else if (i === (member.countries.length - 2)) {
                countries += member.countries[i] + ' and ';
            } else {
                countries += member.countries[i] + ', ';
            }
        }
        $('.countries').html(countries);

        $('.button').click(validate);

        function validate() {
            var value = $('input[name=radio-group]:checked').val();

            if (value == 'Y') {
                next();
            } else if (value == 'N') {
                next();
            } else {
                hideErrors();
                showErrors();
            }

            function next() {
                if (value == 'Y') {
                    go('/create/used-commercially');
                } else if (value == 'N') {
                    go('/exit');
                }
            }
        }
    </script>
{% endblock %}