{% extends "layout-v6.html" %}

{% block page_title %} Will any of these trailers be used commercially? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts/default.html" %}
{% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}

                <div class="form-group">
                    <fieldset class="inline">
                        <legend>
                            <h1 class="heading-large">Will any of these trailers be used commercially?</h1>
                        </legend>

                        <div class="form-group">
                            <details>
                                <summary><span class="summary">What do we mean by commercially?</span></summary>

                                <div class="panel panel-border-narrow">
                                  <p>A commercial trailer is a trailer used for the transport of goods or passengers’ belongings for commercial purposes,
                                      such as transport for hire and reward or own-account transport, or for other professional purposes.</p>
                                </div>
                            </details>
                        </div>

                        {% include "includes/errors/error-message.html" %}

                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="radio-group-commercial" value="Y">
                            <label for="radio-1">Yes</label>
                        </div>
                        <div class="multiple-choice" data-target="over-3500">
                            <input id="radio-2" type="radio" name="radio-group-commercial" value="N">
                            <label for="radio-2">No</label>
                        </div>

                        <div class="panel panel-border-narrow js-hidden" id="over-3500">
                            <legend>
                                <h2 class="heading-medium">Do any of these trailers weigh over 3,500kg?</h2>
                            </legend>
                            
                            {% include "includes/errors/error-message-2.html" %}

                            <div class="multiple-choice">
                                <input id="radio-1-1" type="radio" name="radio-group-over-3500" value="Y">
                                <label for="radio-1-1">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-2-2" type="radio" name="radio-group-over-3500" value="N">
                                <label for="radio-2-2">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                {% include "includes/buttons/continue.html" %}
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(validate);

        function validate() {
            var value1 = $('input[name=radio-group-commercial]:checked').val();
            var value2 = $('input[name=radio-group-over-3500]:checked').val();

            if (value1 === 'Y') {
                next();
            } else if (value1 === 'N') {
                hideErrors();
                if (value2 === 'Y') {
                    next();
                } else if (value2 === 'N') {
                    go('/exit');
                } else {
                    showErrors2();
                }
            } else {
                showErrors1();
            }
        }

        function next() {
            go('/create/record-type');
        }

        $('input[name=radio-group-commercial]').click(function () {
            hideErrors();
        });

        function showErrors1() {
            fixPageTitle();
            $('body').scrollTop(0);
            $('fieldset').closest('.form-group').addClass('form-group-error');
            // $('#over-3500').addClass('form-group-error');
            $('.form-control').addClass('form-control-error');
            $('.error-message').css('display', 'block');
            $('.error-message.prog2').hide();
            $('.error-summary').show().focus();
            $('legend').attr('id', 'error-link');
        }

        function showErrors2() {
            fixPageTitle();
            $('body').scrollTop(0);
            $('fieldset').closest('.form-group').addClass('form-group-error');
            $('#over-3500').addClass('form-group-error');
            $('.form-control').addClass('form-control-error');
            $('.error-message').hide();
            $('.error-message.prog2').css('display', 'block');
            $('.error-summary').show().focus();
            $('legend').attr('id', 'error-link');
        }
    </script>
{% endblock %}