{% extends "layout-v6.html" %}

{% block page_title %} SCP {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">SCP</h1>

                sign-in.html
                <!-- about-your-data.html -->
                email-address.html
                name.html
                password.html
                recovery-word.html
                success.html
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
    </script>
{% endblock %}