{% extends "layout-v6.html" %}

{% block page_title %} Create a password {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">Create a password</h1>

                <p>Your password must:</p>

                <ul class="list list-bullet">
                    <li>be between 8 and 12 characters</li>
                    <li>have at least one number (0-9)</li>
                    <li>have at least one letter (a-z)</li>
                    <li>not contain special characters</li>
                </ul>

                <div class="form-group">
                    <fieldset>
                        <legend class="visuallyhidden">Create a password</legend>

                        <div class="form-group">
                            <label class="form-label" for="name">Enter password</label>
                            <input class="form-control" id="name" type="text" name="name">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="name">Confirm password</label>
                            <input class="form-control" id="name" type="text" name="name">
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <button class="button" type="button">Continue</button>
                </div>

                <a href="">Get help</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(next);

        function next() {
            go('/scp/recovery-word');
        }
    </script>
{% endblock %}