{% extends "layout.html" %}

{% block page_title %} Renewal details {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large margin-bottom-1">Renewal details</h1>

            <table class="renewal">
                <thead class="visuallyhidden">
                    <tr>
                        <th>Renewal details</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Registration number</th>
                        <td><span class="reg-mark small">A1B2<br>C3D4</span></td>
                    </tr>
                    <tr>
                        <th>Make</th>
                        <td><span id="manufacturer"></span></td>
                    </tr>
                    <tr>
                        <th>Expiry date</th>
                        <td>4 December 2028</td>
                    </tr>
                    <tr>
                        <th>Start date</th>
                        <td>5 December 2028</td>
                    </tr>
                </tbody>
            </table>
            <br>

            {{ button.input(class='button', type='button', value='Renew') }}
        </div>
    </div>
</main>


<script type="text/javascript">
    if (!member.questions.chassisNumber) {
        $('.vin').remove();
    } else {
        $('#chassisNumber').html(member.questions.chassisNumber);
    }

    if (!member.questions.manufacturer) {
        $('.make').remove();
    } else {
        $('#manufacturer').html(member.questions.manufacturer);
    }

    if (!member.questions.maximumMass) {
        $('.maximum-mass').remove();
    } else {
        $('#maximumMass').html(member.questions.maximumMass);
    }

    if (!member.questions.unladenMass) {
        $('.unladen-mass').remove();
    } else {
        $('#unladenMass').html(member.questions.unladenMass);
    }

    $('.button').click(next);

    function next() {        
        go('manage/renew/success');
    }
</script>
{% endblock %}