{% extends "layout-v6.html" %}

{% block page_title %} You cannot create a trailer record {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="govuk-box-highlight grey">
                    <h1 class="heading-large">You do not need to<br>create a trailer record</h1>
                </div>

                <!-- <p>You only have to create a trailer record for non-commercial trailers that weigh over 3,500kg.</p> -->
                <p>You only have to create a trailer record to register non-commercial trailers that weigh over 3,500kg in gross weight.</p>

                <p>Under <abbr title="United Kingdom">UK</abbr> law you do not need to register your trailer, however you may be required to produce a <abbr title="United Kingdom">UK</abbr> Trailer Registration Certificate at foreign borders.</p>

                <p>You can still create a trailer record if you want to.</p>

                <div class="form-group">
                    <button class="button">I still want to create a trailer record</button>
                </div>

                <a href="https://www.gov.uk">Return to GOV.UK</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(function() {
            go('https://www.gov.uk');
        });
    </script>
{% endblock %}