{% extends "layout-v6.html" %}

{% block page_title %} Enter trailer weights {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
    <style>
        details { margin-top: .75em; }
    </style>
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <fieldset data-required>
                    <div class="form-group">

                        <h1 class="heading-large">
                            <span class="title">Enter trailer weights</span>
                        </h1>

                        <label class="form-label" for="gross-weight">Gross weight (kg)</label>
                        <input class="form-control" id="gross-weight" name="gross-weight" type="text">

                        <details>
                            <summary>
                                <span class="summary">What is gross weight?</span>
                            </summary>

                            <div class="panel panel-border-narrow">
                                <p>This is specified by the manufacturer and it means the maximum weight the trailer is allowed to be when fully loaded.
                                    It is the unladen weight of the trailer plus the maximum permitted payload.
                                    It is also known as the Maximum Permissible Mass.</p>
                            </div>
                        </details>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="unladen-weight">Unladen weight (kg)</label>
                        <input class="form-control" id="unladen-weight" name="unladen-weight" type="text">

                        <details>
                            <summary>
                                <span class="summary">What is unladen weight?</span>
                            </summary>

                            <div class="panel panel-border-narrow">
                                <p>The weight of an empty trailer, including any permanent modifications.</p>
                            </div>
                        </details>
                    </div>

                    {% include "includes/buttons/continue.html" %}
                </fieldset>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var gross = randomWeight(1,5000);
        var unladen = randomWeight(750,5000);

        $('h1').click(function() {
            $('input[id=gross-weight]').val(unladen + gross);
            $('input[id=unladen-weight]').val(unladen);
        });

        var url = document.referrer.substring(document.referrer.lastIndexOf('/') + 1).split("?")[0];
        console.log('url = ' + url);

        $('.button').click(validate);

        function validate() {
            var validInput = true;
            var value1 = $('input[name=gross-weight]').val();
            var value2 = $('input[name=unladen-weight]').val();

            if (member.trailer === undefined) {
                member.trailer = {};
            }

            if (!value1) {
                validInput = false;
            }

            if (!value2) {
                validInput = false;
            }

            if (value1 <= value2) {
                validInput = false;
            }

            if (validInput) {
                if (changing == "true") {
                    member.trailers[member.currentTrailerPosition].gross = value1;
                    member.trailers[member.currentTrailerPosition].unladen = value2;
                    if (url == 'trailer-summary') {
                        go('/register/trailer-summary');
                    } else {
                        go('/success');
                    }
                } else {
                    member.trailer.gross = value1;
                    member.trailer.unladen = value2;
                    member.trailer.check = 'Y';
                    console.log('gross = ' + member.trailer.gross);
                    console.log('unladen = ' + member.trailer.unladen);
                    go('/register/check/used-outside-uk');
                }
            } else {
                checkErrors();
            }
        }

        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            $('input[id=gross-weight]').val(currentTrailer.gross);
            $('input[id=unladen-weight]').val(currentTrailer.unladen);
            document.title = 'Change trailer weights';
            $('.title').html('Change trailer weights');
            $('.button').html('Save and continue');
        }
    </script>
{% endblock %}