{% extends "layout.html" %}

{% block page_title %} Check your answers {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large"><span id="app-type">Personal</span> details</h1>

            <ul class="list-summary margin-bottom-2">
                <li class="list-summary-item keeper">
                    <span>Keeper name</span>
                    <span><strong><span id="keeperName" style="width: 100%;text-transform: capitalize;"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="register/keeper?change=true">Change <span class="visuallyhidden">name</span></a></span>
                </li>

                <li class="list-summary-item company">
                    <span>Company name</span>
                    <span><strong><span id="companyName" style="width: 100%;text-transform: capitalize;"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="register/keeper?change=true">Change <span class="visuallyhidden">name</span></a></span>
                </li>

                <li class="list-summary-item keeper-address">
                    <span>Address</span>
                    <span><strong><span id="address"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="register/find-individual-address?change=true">Change <span class="visuallyhidden">address</span></a></span>
                </li>

                <li class="list-summary-item email-address">
                    <span>Email address</span>
                    <span><strong><span id="email" style="width: 100%;"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="register/email?change=true">Change <span class="visuallyhidden">email address</span></a></span>
                </li>
            </ul>
            <br>

            {{ button.input(class='button', type='button', value='Continue') }}
        </div>
    </div>
</main>

<script type="text/javascript">
    if (member.questions.serviceName === 'manage') {
        $('#service-name').html('Manage a trailer');
    } else if (member.questions.serviceName === 'register') {
        $('#service-name').html('Register a trailer');
    }

    if (!member.questions.keeperName){
        $('.keeper').remove();
    } else {
        $('#keeperName').html(member.questions.keeperName);
    }  

    if (!member.questions.companyName){
        $('.company').remove();
    } else {
        $('#companyName').html(member.questions.companyName);
        $('#app-type').html('Company');
    }

    if (!member.questions.address) {
        $('.keeper-address').remove();
    } else {
        $('#address').html(member.questions.address);
    }

    if (!member.questions.email) {
        $('.email-address').remove();
    } else {
        $('#email').html(member.questions.email);
    }

    $('.button').click(next);

    function next() {        
        go('change/success');
    }
</script>
{% endblock %}