{% extends "layout.html" %}

{% block page_title %} Check your answers {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large margin-bottom-1">Personal details</h1>
            
            <ul class="list-summary margin-bottom-2">
                <li class="list-summary-item code-1">
                    <span>Name</span>
                    <span><strong><span id="codeA" style="width: 100%; text-transform: capitalize;"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="keeper?change=true">Change <span class="visuallyhidden">name</span></a></span>
                </li>

                <li class="list-summary-item code-2">
                    <span>Name</span>
                    <span><strong><span id="codeB" style="width: 100%; text-transform: capitalize;"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="keeper?change=true">Change <span class="visuallyhidden">name</span></a></span>
                </li>

                <li class="list-summary-item keeper-address">
                    <span>Address</span>
                    <span><strong><span id="address"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="find-individual-address?change=true">Change <span class="visuallyhidden">address</span></a></span>
                </li>

                <li class="list-summary-item email-address">
                    <span>Email address</span>
                    <span><strong><span id="email" style="width: 100%;"></span></strong></span>
                    <span class="list-summary-item-right"><a class="button-change" href="email?change=true">Change <span class="visuallyhidden">email address</span></a></span>
                </li>
            </ul>

            {{ button.input(id='continue', name='continue', class='button', type='button', value='Continue to payment') }}
        </div>
    </div>
</main>

<script type="text/javascript"> 
    if (!member.questions.companyName){
        $('.code-1').remove();
    } else {
        $('#codeA').html(member.questions.companyName);
    }

    if (!member.questions.keeperName){
        $('.code-2').remove();
    } else {
        $('#codeB').html(member.questions.keeperName); 
    }

    if (!member.questions.address) {
        $('.keeper-address').remove();
    } else {
        $('#address').html(member.questions.address);
    }

    if (!member.questions.email) {
        $('.email-address').remove();
    } else {
        $('#email').html(member.questions.email);
    }

    $('.button').click(next);
    
    function next() {        
        go('payment');
    }
</script>
{% endblock %}