{% extends "layout.html" %}

{% block page_title %} What is the trailer chassis number? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row no-bottom">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list error-list">
                    <li class="chassisNumber error-message hide"><a href="#chassisNumber">Provide the trailer registration number</a></li>
                </ul>
            </div>

            <h1 class="heading-large">What is the trailer registration number?</h1>
            
            <div class="form-group" id="question">
                <label for="chassisNumber">
                    <span class="form-hint">For example, A1B2 C3D4</span>
                    <span class="error-message chassisNumber hide">Provide the trailer registration number</span>
                </label>

                <input class="form-control" id="chassisNumber" type="text" style="text-transform: uppercase" name="chassisNumber">
            </div>
        </div>
    </div>
    <br>

    {{ button.input(class='button', type='button', value='Continue') }}
</main>

<script>
    $('#continue').click(checkAnswers);

    function checkAnswers() {
        var validInput = true;
        var chassisNumber = $('input[name=chassisNumber]').val();

        //        if (validate('#chassisNumber').isVIN().isNotEmpty().chassisNumber('.chassisNumber').fail()) {
        //            validInput = false;
        //        }

        if (chassisNumber) {
            member.chassisNumber = chassisNumber;
            go('keeper');

        } else {
            $('body').scrollTop(0);
            $('.error-summary').show();
            $('.error-summary').focus();
            $('.error-message').show();
            $('#question').addClass('error');
        }            
    }
</script>
{% endblock %}