{% extends "layout-v6.html" %}

{% block page_title %} Sign in {% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">Sign in</h1>

                <button class="button" type="submit">Continue</button>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(next);

        function next() {
            go('dashboard');
        }
    </script>
{% endblock %}