{% extends "layout.html" %}

{% block page_title %} Application successful {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="bold-large banner-header ">Application successful</h1>
            </div>

            <p>A confirmation email has been sent to your email address.</p>

            <p>You are no longer the keeper of the trailer registration number <strong>A1B2 C3D4</strong>.</p>

            <p class="margin-top-2">You can <a href="#">print this page</a> for your records.</p>

            <br>

            {{ button.input(id='continue', name='continue', class='button', type='button', value='Return to GOV.UK') }}
        </div>
    </div>
</main>

<script type="text/javascript">
    $(".button").click(function(){
        // Enter function name here
        checkAnswers();
    });

    if (!member.questions.email) {
        $('.email-address').remove();
    } else {
        $('#email').html(member.questions.email);
    }

    function checkAnswers() { 
        member.clear();
        go('https://www.gov.uk/');
    }
</script>
{% endblock %}