{% extends "layout-v6.html" %}

{% block page_title %} Trailer registration successful {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="govuk-box-highlight">
                    <h1 class="heading-large">Trailer registration successful</h1>
                </div>

                <div class="form-group">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Registration number</th>
                                <th scope="col"><abbr title="Vehicle Identification Number">VIN</abbr>/Chassis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">A6761510</td>
                                <td scope="row">4W289151</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>A receipt of the transaction and an electronic number plate authorisation certificate has been sent to <strong>enquiries@alshaulage.com</strong>.</p>

                <p>You’ll receive your new UK Trailer Registration Certificates within <strong>3 to 5 working days</strong>. These must be kept with the trailer.</p>

                <h2 class="heading-medium">What to do next</h2>

                <p>Get number plates made up with your nearest <a href="">registered number plate supplier (RNPS)</a> using the electronic number plate authorisation certificate. You do not need to wait for the registration certificate to arrive in the post to get number plates.</p>

                <p>You can <a href="">print this page</a> for your records.</p>

                <div class="form-group">
                    <button class="button">Go to trailer dashboard</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(function() {
            go('/trailer-record');
        });
    </script>
{% endblock %}