{% extends "layout-v6.html" %}

{% block page_title %} Select your address from the list {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" class="address-list" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}
            </div>

            <div class="column-full">
                <h1 class="heading-large">Select your address from the list</h1>

                <form class="form">
                    <div class="form-group">
                        <fieldset>
                            <legend class="visuallyhidden">Select your address from the list</legend>

                            {% include "includes/errors/error-message.html" %}

                            <div class="form-group" id="address-radio-list">
                            </div>
                        </fieldset>
                    </div>
                </form>

                <p class="or">or</p>

                <p class="manual"><a class="manual-link" href="">Enter address manually</a></p>

                <div class="form-group">
                    <button class="button" type="button" onclick="validate()">Continue</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var changing = location.search.split('change=')[1];

        var radioList = '';
        for (var i = 0; i < member.addresses.length; ++i) {
            radioList += '<div class="multiple-choice">';
            radioList += '<input id="radio-inline-' + i + '" type="radio" name="radio-group" value="' + i + '">';
            radioList += '<label for="radio-inline-' + i + '">';
            radioList += member.addresses[i].Line1 + ', ';
            if (member.addresses[i].Line2 !== '') {
                radioList += member.addresses[i].Line2 + ', ';
            }
            if (member.addresses[i].Line3 !== '') {
                radioList += member.addresses[i].Line3 + ', ';
            }
            if (member.addresses[i].Line4 !== '') {
                radioList += member.addresses[i].Line4 + ', ';
            }
            if (member.addresses[i].Line5 !== '') {
                radioList += member.addresses[i].Line5 + ', ';
            }
            radioList += member.addresses[i].City + ', ';
            radioList += member.addresses[i].PostalCode + '</a></p>';
            radioList += '</label>';
            radioList += '</div>';
        }

        $('#address-radio-list').html(radioList);

        $('a.manual-link').click(function(e) {
            e.preventDefault();
            member.posttownTemp = member.addresses[0].City;
            member.postcodeTemp = member.addresses[0].PostalCode;
            go('/address/address-manual');
        });

        function validate() {
            var validInput = true;
            var value = $('input[name=radio-group]:checked').val();

            if (!value) {
                validInput = false;
                hideErrors();
                showErrors();
                $('.error-summary-list li a').html('Select an address to continue');
                $('.error-message').html('Select an address');
            }

            if (validInput) {
                member.address = member.addresses[value];
                member.posttownTemp = member.addresses[0].City;
                member.postcodeTemp = member.addresses[0].PostalCode;
                next();
            }
        }

        function next() {
            if (changing == "true") {
                go('/address/address-confirmation?change=true');
            } else {
                go('/address/address-confirmation');
            }
        }
    </script>
{% endblock %}