{% extends "layout-v6.html" %}

{% block page_title %} Confirm your address {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There has been a problem</h1>

                    <p>Amend the following to continue</p>
                    <ul class="error-summary-list">
                        <li class="error-message address1"><a href="#qaddress">House number/name and street cannot be empty</a></li>
                        <li class="error-message posttown"><a href="#qposttown">Post town cannot be empty</a></li>
                        <li class="error-message postcode"><a href="#qpostcode">Postcode cannot be empty</a></li>
                        <!-- <li class="postcode error-message format"><a href="#qpostcode">Provide correct postcode format</a></li> -->
                    </ul>
                </div>

                <h1 class="heading-large">Enter your <span class="title"></span>address</span></h1>

                <form class="form">
                    <div class="form-group">
                        <fieldset>
                            <legend class="visuallyhidden">Enter your address</legend>

                            <div class="form-group" id="qaddress">
                                <label class="form-label" for="address1" id="address-test-data">
                                    Building and street
                                    <span class="form-hint"></span>
                                    <span class="error-message address1">Provide an address</span>
                                </label>
                                <input spellcheck="false" class="form-control" id="address1" name="address1" type="text" value="">
                            </div>

                            <div class="form-group" id="qaddress2">
                                <label class="visuallyhidden form-label" for="address2">
                                    Address line 2
                                </label>
                                <input spellcheck="false" class="form-control" id="address2" name="address2" type="text" value="">
                            </div>

                            <div class="form-group" id="qposttown">
                                <label class="form-label" for="posttown" id="posttown-test-data">
                                    Town or city
                                    <span class="form-hint"></span>
                                    <span class="error-message posttown">Provide a town or city</span>
                                </label>
                                <input spellcheck="false" class="form-control form-control-1-3" id="posttown" name="posttown" type="text" value="">
                            </div>

                            <div class="form-group" id="qpostcode">
                                <label class="form-label" for="postcode" id="postcode-test-data">
                                    Postcode
                                    <span class="form-hint"></span>
                                    <span class="error-message postcode">Provide a postcode</span>
                                </label>
                                <input spellcheck="false" class="form-control form-control-1-4" id="postcode" name="postcode" type="text" value="">
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <button class="button" type="button">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('h1').click(function() {
            var testData = {
                "address1": "122 Burns Crescent",
                // "address2": "Edinburgh",
                "posttown": "Edinburgh",
                "postcode": "EH1 9GP"
            };
            $('input[id=address1]').val(testData.address1);
            // $('input[id=address2]').val(testData.address2);
            $('input[id=posttown]').val(testData.posttown);
            $('input[id=postcode]').val(testData.postcode);
        });
        $('#address-test-data').click(function() {
            var testData = { "address1": "122 Burns Crescent" };
            $('input[id=address1]').val(testData.address1);
        });
        $('#posttown-test-data').click(function() {
            var testData = { "posttown": "Edinburgh" };
            $('input[id=posttown]').val(testData.posttown);
        });
        $('#postcode-test-data').click(function() {
            var testData = { "postcode": "EH1 9GP" };
            $('input[id=postcode]').val(testData.postcode);
        });

        try { var type = member.user.type; } catch(err){}
        if (type == "company") {
            $('.title').html('company ');
        }

        $('.button').click(checkAnswers);

        function checkAnswers() {
            var validInput = true;

            if (member.address === undefined) {
                member.address = {};
            }

            // Hide before rechecking validation
            hideErrors();

            var addressLine1 = $('input[name=address1]').val();
            var addressPosttown = $('input[name=posttown]').val();
            var addressPostcode = $('input[name=postcode]').val();

            if ((!addressLine1) && (!addressPosttown) && (!addressPostcode)) {
                validInput = false;
                $('#qpostcode').css('margin-bottom', '0');
                showErrors();
                console.log('ALL blank');
            } else {
                if (!addressLine1) {
                    fixPageTitle();
                    $('#qaddress').addClass('form-group-error');
                    $('.error-summary').css('display', 'block').focus();
                    //   $('.form-control').addClass('form-control-error');
                    $('.error-message.address1').css('display', 'block');
                    $('body').scrollTop(0);
                    validInput = false;
                }
                if (!addressPosttown) {
                    fixPageTitle();
                    $('#qposttown').addClass('form-group-error');
                    $('.error-summary').css('display', 'block').focus();
                    //   $('.form-control').addClass('form-control-error');
                    $('.error-message.posttown').css('display', 'block');
                    $('body').scrollTop(0);
                    validInput = false;
                }
                if (!addressPostcode) {
                    fixPageTitle();
                    $('#qpostcode').addClass('form-group-error');
                    $('.error-summary').css('display', 'block').focus();
                    //   $('.form-control').addClass('form-control-error');
                    $('.error-message.postcode').css('display', 'block');
                    $('body').scrollTop(0);
                    validInput = false;
                }
            }

            if (validInput) {
                member.user.address.Line1 = addressLine1;
                try {
                    member.user.address.Line2 = addressLine2;
                } catch(err){}
                member.user.address.City = addressPosttown;
                member.user.address.PostalCode = addressPostcode;
                delete member.address;
                delete member.addresses;

                console.log('TRUE');
                next();
            }


/*
            var addressLine2 = $('input[name=address2]').val();
            if ((addressLine1 == '') || (addressLine1 == undefined)) {
                $('#qaddress').addClass('form-group-error error');
                showerror('.address1.error-message');
                $('.error-summary').show();
                $('body').scrollTop(0);
                validInput = false;
            }

            if ((addressPosttown == '') || (addressPosttown == undefined)) {
                $('#qposttown').addClass('form-group-error error');
                showerror('.posttown.error-message');
                $('.error-summary').show();
                $('body').scrollTop(0);
                validInput = false;
            }

            if ((addressPostcode == '') || (addressPostcode == undefined)) {
                $('#qpostcode').addClass('form-group-error error');
                showerror('.postcode.error-message');
                $('.error-summary').show();
                $('body').scrollTop(0);
                validInput = false;
            }
*/
        }

        function next() {
            if (member.flow == 'create') {
                delete member.flow;
                go('/create/check-your-answers');
            } else {
                go('/trailer-record/change-details');
            }
        }
    </script>
{% endblock %}