{% extends "layout-v6.html" %}

{% block page_title %} Is this address correct? {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" class="address-confirmation" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <form class="form">
                    <div class="form-group">
                        <fieldset>
                            <legend><h1 class="heading-large">Is this address correct?</h1></legend>

                            <dl>
                                <div>
                                    <dd class="cya-answer">
                                        <span id="address"></span>
                                    </dd>
                                </div>
                            </dl>
                        </fieldset>
                    </div>

                    <a href="#" class="address-incorrect">This address is not correct</a><br><br>

                    <div class="form-group">
                        <button class="button" type="button">Yes, continue</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var refUrl = getRefUrl();

        $('.button').click(next);

        $('a.address-incorrect').click(function(e) {
            e.preventDefault();
            if (changing == "true") {
                go('/address/address-manual?change=true');
            } else {
                go('/address/address-manual');
            }
        });

        function next() {
            if (changing == "true") {
                if (member.flow == 'create') {
                    member.user.address = member.address;
                    delete member.address;
                    delete member.addresses;
                    delete member.flow;
                    go('/create/check-your-answers');
                } else {
                    member.user.address = member.address;
                    delete member.address;
                    delete member.addresses;
                    go('/success');
                }
            } else {
                // member.user.address = member.address;
                // delete member.address;
                delete member.addresses;
                go('/create/email-address');
            }
        }

        // If coming from check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            var addressPlayback = '';
            if (member.address.Line1) { addressPlayback += member.address.Line1 + '<br>'; }
            if (member.address.Line2) { addressPlayback += member.address.Line2 + '<br>'; }
            if (member.address.Line3) { addressPlayback += member.address.Line3 + '<br>'; }
            if (member.address.Line4) { addressPlayback += member.address.Line4 + '<br>'; }
            if (member.address.City) { addressPlayback += member.address.City + '<br>'; }
            if (member.address.PostalCode) { addressPlayback += member.address.PostalCode; }
            $('#address').html(addressPlayback);
        } else {
            var addressPlayback = '';
            if (member.user.address.Line1) { addressPlayback += member.user.address.Line1 + '<br>'; }
            if (member.user.address.Line2) { addressPlayback += member.user.address.Line2 + '<br>'; }
            if (member.user.address.Line3) { addressPlayback += member.user.address.Line3 + '<br>'; }
            if (member.user.address.Line4) { addressPlayback += member.user.address.Line4 + '<br>'; }
            if (member.user.address.City) { addressPlayback += member.user.address.City + '<br>'; }
            if (member.user.address.PostalCode) { addressPlayback += member.user.address.PostalCode; }
            $('#address').html(addressPlayback);
        }
    </script>
{% endblock %}