{% extends "layout-v6.html" %}

{% block page_title %} Page title {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <span id="page-content">
                </span>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var value = getRefUrl();

        // Heading
        var recordNotFoundH = '<div class="govuk-box-highlight grey"><h1 class="heading-large">Trailer record not found</h1></div>';
        var doNotNeedRecord = '<div class="govuk-box-highlight grey"><h1 class="heading-large">You do not need to<br>create a trailer record</h1></div>';
        var cannotCreateRecord = '<div class="govuk-box-highlight grey"><h1 class="heading-large">You cannot create a trailer record</h1></div>';
        // Content
        var recordNotFoundP = '<p>There is no trailer record linked to this Government Gateway ID</p><p>If you’re registering trailers for a company, you must be logged in using your company’s details</p><p>If you have created a trailer record using this Government Gateway ID, you will need to call DVLA by phone.</p>';
        var telephone = '<p><a href="tel:03007906802">0300 790 6802</a><br>Monday to Friday, 8am to 7pm<br>Saturday, 8am to 2pm<br><a href="">Find out about call charges</a></p>';
        var travelling = '<p>Trailers travelling to <span class="countries"></span> are not required to register, unless you pass through a foreign country that has ratified the 1968 Vienna Convention.</p>';
        var stillCreate = '<p>You can still create a trailer record if you want to.</p>';
        var outsideUk = '<p>You only have to create a trailer record if you will use it outside of the UK.</p>';
        var over750 = '<p>To create a trailer record, trailers must weigh over 750kg in gross weight.</p>';
        var over3500kg = '<p>You only have to create a trailer record to register non-commercial trailers that weigh over 3,500kg.</p>';
        var ukLaw = '<p>Under UK law you do not need to register your trailer, however you may be required to produce a UK Trailer Registration Certificate at foreign borders.</p>';
        // Buttons
        var buttonCreate = '<div class="form-group"><button class="button">Create a trailer record</button></div>';
        var buttonstillCreate = '<div class="form-group"><button class="button">I still want to create a trailer record</button></div>';
        var buttonGov = '<div class="form-group"><button class="button gov">Return to GOV.UK</button></div>';
        // Links
        var linkGov = '<a href="https://www.gov.uk">Return to GOV.UK</a>';

        var signin = recordNotFoundH + recordNotFoundP + telephone + buttonCreate + linkGov;
        var notTravellingThrough = doNotNeedRecord + travelling + stillCreate + buttonstillCreate + linkGov;
        var notOutsideUk = doNotNeedRecord + outsideUk + stillCreate + buttonstillCreate + linkGov;
        var notOver750kg = cannotCreateRecord + over750 + buttonGov;
        var notUsedCommercially = doNotNeedRecord + over3500kg + ukLaw + stillCreate + buttonstillCreate + linkGov;

        // scp/sign-in
        if (value === 'sign-in') {
            document.title = 'Trailer record not found';
            $('#page-content').html(signin);
        }
        // create/not-travelling-through
        if (value === 'travelling-through') {
            document.title = 'You do not need to create a trailer record';
            $('#page-content').html(notTravellingThrough);
            var countries = '';
            for (i=0; i < member.countries.length; i++) {
                if (i === (member.countries.length - 1)) {
                    countries += member.countries[i];
                } else if (i === (member.countries.length - 2)) {
                    countries += member.countries[i] + ' and ';
                } else {
                    countries += member.countries[i] + ', ';
                }
            }
            $('.countries').html(countries);
        }
        // create/not-over-750kg
        if (value === 'over-750kg') {
            document.title = 'You do not need to create a trailer record';
            $('#page-content').html(notOver750kg);
        }
        // /create/not-outside-uk
        if (value === 'used-outside-uk') {
            document.title = 'You do not need to create a trailer record';
            $('#page-content').html(notOutsideUk);
        }
        // /create/not-used-commercially
        if (value === 'used-commercially') {
            document.title = 'You do not need to create a trailer record';
            $('#page-content').html(notUsedCommercially);
        }

        $('.button').click(function() {
            go('/create/record-type');
        });
        $('.button.gov').click(function() {
            go('https://www.gov.uk');
        });
    </script>
{% endblock %}