{% extends "layout-v6.html" %}

{% block page_title %} You cannot create a trailer record {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
    <style type="text/css">
        dd { font-weight: 700; margin-bottom: .5em; padding-bottom: 1em; border-bottom: 1px solid #BFC1C3;}
        .multiple-choice { margin-bottom: 10px !important; }
        .column-third {
            /* width: 100%; */
            /* height: 5px; */
            /* background-color: #005ea5; */
            border-top: 10px solid #005ea5;
        }
        h2.heading-medium { margin-top: .5em; }
        fieldset { margin-top: 0;}
    </style>
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="govuk-box-highlight grey">
                    <h1 class="heading-large">You cannot register this trailer</h1>
                </div>

                <p>Trailers must weigh over 750kg in gross weight in order to register them.</p>

                <button class="button" type="submit">Register another trailer</button>

                <p class="margin-top-1">
                    <a href="/trailer-record">Cancel and go to trailer record</a>
                </p>

            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(function() {
            go('/register/have-registration-number');
        });

    </script>
{% endblock %}