<!-- <div class="phase-banner">
    <div>
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- <div class="logged-user">
        <p><span id="logged-user-name"></span>: <a class="log-out" href="#">Log out</a></p>
    </div> --
</div> -->
{% include "includes/phase-banner.html" %}



<!-- <script type="text/javascript">
    if (!member.loggedUser) {
        $('.logged-user').hide();
    }

    $('#logged-user-name').html(member.loggedUser);

    $('a.log-out').click(function(e) {
        e.preventDefault();

        member.clear();

        go('/v2');
    });
</script> -->
