<div class="grid-row phase">
    <!-- <div class="phase-banner">
        <div>
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>
    </div> -->
    {% include "includes/phase-banner.html" %}
    <!-- <div class="logged-user">
        <p><span id="logged-user-name"></span>: <a class="log-out" href="#">Log out</a></p>
    </div> -->
</div>

<div class="grid-row no-back">
    <p></p>
</div>
