{% extends "layout.html" %}

{% block page_title %} This trailer has already been registered {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight grey">
                <h1 class="bold-large banner-header">This trailer has already<br>been registered</h1>
            </div>

            <p>Our records show the trailer has already been registered.</p>

            {{ button.input(class='button', type='button', value='Tell DVLA you’ve bought a trailer') }}
        </div>
    </div>
</main>

<script type="text/javascript">
    $('.button').click(next);

    function next() {
        go('../manage/reg-number');
    }
</script>
{% endblock %}