{% extends "layout.html" %}

{% block page_title %} You can’t register your trailer {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight grey">
                <h1 class="bold-large banner-header">You can’t register your trailer</h1>
            </div>

            <p>If your trailer weighs under 750kg you can’t register it.</p>
            
            {{ button.input(class='button', type='button', value='Return to GOV.UK') }}
        </div>
    </div>
</main>

<script type="text/javascript">
    $('.button').click(next);

    function next() { 
        member.clear();
        go('https://www.gov.uk');
    }
</script>
{% endblock %}
