{% extends "layout-v6.html" %}

{% block page_title %} Admin | Page list {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard.html" %}
{% endblock %}





{% block content %}
    <main id="content" class="admin" role="main">
        <div class="grid-row">
            <div class="column-full">
                <div class="breadcrumbs">
                    <ol>
                        <li><a href="/admin">Admin</a></li>
                        <li>Prototype versions</li>
                    </ol>
                </div>

                <h1 class="heading-large">Prototype versions</h1>
            </div>
        </div>


        <div class="grid-row">
            <div class="column-full">
                <div class="column-third first">
                    {% include "admin/versions/_ux.html" %}
                </div>

                <div class="column-third">
                    {% include "admin/versions/_build.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}