{% extends "layout-v6.html" %}

{% block page_title %} Admin | Page list {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard.html" %}
{% endblock %}





{% block content %}
    <main id="content" class="admin" role="main">
        <div class="grid-row">
            <div class="column-full">
                <div class="breadcrumbs">
                    <ol>
                        <li><a href="/admin">Admin</a></li>
                        <li>Prototype versions</li>
                    </ol>
                </div>

                <h1 class="heading-large">Prototype versions</h1>
            </div>
        </div>


        <div class="grid-row">
            <div class="column-full">
                <div class="column-third first">
                    <h2 class="heading-medium">Build prototypes</h2>

                    <ol class="list list-bullet">
                        <li><a href="https://register-a-trailer-v1.herokuapp.com">Version 1</a></li>
                        <li><a href="https://register-a-trailer-v2.herokuapp.com">Version 2</a></li>
                        <li><a href="https://register-a-trailer-v3.herokuapp.com">Version 3</a></li>
                    </ol>
                </div>

                <div class="column-third">
                    <h2 class="heading-medium">UX prototypes</h2>

                    <ol class="list list-bullet">
                        <li><a href="https://register-a-trailer.herokuapp.com">Current version</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </main>
{% endblock %}