// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/v6/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
// @import 'fetknew/all';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// @import 'patterns/white-button';
@import 'patterns/captions';
@import 'patterns/accordion';
@import 'patterns/autocomplete';
@import 'patterns/errors';
@import 'patterns/number-plate';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you





// global use
// ==========================================================================

strong,
.strong { font-weight: 700; }
.visually-hidden { display: none; }
// details { margin-bottom: 1em; }
// summary { margin-bottom: 2em; }
// .inline .multiple-choice:first-child { margin-bottom: .25em !important; }
// fieldset { margin-top: 1.5em; }
// .heading-large { margin-top: 0; }
// .grid-row.no-back { min-height: 51px; }

// Margin padding
.margin-top-0 { margin-top: 0 !important; }
.margin-top-1 { margin-top: 1em !important; }
.margin-top-2 { margin-top: 2em !important; }
.margin-bottom-0 { margin-bottom: 0 !important; }
.form-control#postcode { text-transform: uppercase; }
// #plural { display: none; }
// #record-type { display: none; }
.question { margin-top: 1.25em; }
.no-question { margin-top: 2em; }
h1.heading-large { margin-top: 0; }
.form-group.postcode { margin-bottom: 0; }


#footer .footer-meta .footer-meta-inner ul { margin-bottom: 0; }
li.li-member-things { display: block !important; }
details.member-things  {
  display: -webkit-inline-box;
  display: block;

  summary {
    color: $grey-3;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em;
    padding-left: 0;
    text-decoration: none !important;

    &:before {
      content: none;
    }

  }
  p.bold-medium { margin-bottom: 0 !important; padding-bottom: 0 !important; }
  p.bold-medium:not(:first-child) { margin-top: 1em !important; }
}
details.member-things .panel.panel-border-narrow  {
  background: $page-colour !important;
}

// Add a dotted line underneath abbreviations
abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
}


.float-right {
    float: right;
}




// Phase banner
// ==========================================================================

//  Standard
.grid-row.back { margin-bottom: 1.25em; }

.grid-row.back,
.grid-row.phase {
  max-width: 960px;
  margin: 0 15px;
}
// @media (min-width: 468px) {
//   .phase-banner p { display: inline-block; }
// }
@media (min-width: 641px) {
  .grid-row.back,
  .grid-row.phase { margin: 0 30px; }
}
@media (min-width: 1020px) {
  .grid-row.back,
  .grid-row.phase { margin: 0 auto; }
}





// No back
// ==========================================================================
.no-back * {
  color: $page-colour !important;
//   min-height: 1.25em;
//   margin: 0 auto;
}


// Grey highlight box
// ==========================================================================
.govuk-box-highlight {
  .heading-large {
    margin-top: .5em;
    margin-bottom: .4em;
  }
  &.grey {
    background: $panel-colour;
    color: $text-colour;
  }
}


// Company details address playback
// ==========================================================================
.cya-question { font-weight: 400 !important; }
.cya-answer,
.cya-change { font-weight: 700 !important; }


// Errors
// ==========================================================================
// .error-message { display: none; margin-bottom: 3em !important; padding-bottom: 4em !important; }
// .error-summary { display: none; margin-bottom: .5em; }
// // .error-message { display: none; margin-bottom: .75em; }
// .error-summary { display: none; margin-top: 4px; }
.error-summary,
.error-message { display: none; }
.error-summary {
  margin-top: 0;
  margin-bottom: 49px;
}
.error-message { margin-bottom: 0.25em; }
.error-message.prog2 {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.form-group.declaration-input { margin-bottom: 0 !important; }
#name-input {
  .form-group:last-child { margin-bottom: 0 ; }
}

// .form-group-error {
//   .form-control {
//     border: solid 4px $error-colour;
//   }
// }


// Flash card
// ==========================================================================
.flash-card {
  margin: 1.25em .19em 0;
  padding: 60px;
  background: $link-colour;
  color: $page-colour;

  h1 { margin-top: 0; }

  a:link,
  a:visited,
  details summary { color: $page-colour; }

  .button {
    background: $page-colour;
    color: $link-colour;
    font-weight: bold;
    -webkit-box-shadow: 0 2px 0 #003259;
    box-shadow: 0 2px 0 #003259;
    text-transform: capitalize
  }
}





// Blue button
// ==========================================================================
.button {
  &.blue {
    background: $link-colour;

    &:hover { background-color: darken($link-colour, 5%); }
    &:focus { background-color: $link-colour; }
      // background: #1B75BB;
    // color: $page-colour;
    /* -webkit-box-shadow: 0 2px 0 #003259; */
    /* box-shadow: 0 2px 0 #003259 */
  }
}





// /address-list.html
// ==========================================================================
#content.address-list {
  form,
  fieldset,
  #address-radio-list,
  .multiple-choice,
  .multiple-choice label { margin-bottom: 0; padding-bottom: 0; }

  .error-summary p { display: none; }

  .form-group:first-child { margin-bottom: 1.05263em; }

  p.or { margin-top: 0; margin-bottom: 1.05263em; padding-top: 0; }
  p.manual { margin-bottom: 1.5em !important; }
}





// /payment.html
// ==========================================================================
#content.payment {
  .form-label { font-weight: 700; }
  dt, dd { display: inline-block; }
  dt { width: 10em;}
  dd {
    padding-left: 1.25em;
    font-weight: 700;
  }
}





// /processing.html
// ==========================================================================
#content.processing {
  a#proposition-name {
    display: none;
    color: $black !important;
  }
  .logged-user { display: none; }
  .center { text-align: center; }
}





// /address/address-confirmation.html
// ==========================================================================
#content.address-confirmation {
  dd { font-weight: 700; }
}





// register/have-registration-number.html
// ==========================================================================
#content.have-registration-number {
  .grid-row.question {
    .column-two-thirds {
      width: 65.2% !important;
    }
  }
}





.column-third.govuk-related-items {
  margin-top: -1.3em;

  #number-plate-container {
    width: 105px;
    margin: 0 auto;
    padding-bottom: .23em;
  
    .number-plate {
      font: 34px "CharlesWrightBoldCaps", "nta", Arial, sans-serif;
      width: 105px;
      height: 78px;
      background-color: $page-colour;
      border: 3px solid $text-colour;
      border-radius: 0.3em;
      text-transform: uppercase;
      color: $text-colour;
      line-height: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}





// /trailer-record/index.html
// ==========================================================================
#content.trailer-record {
  .column-full { margin-top: 1em; }

  .heading-section {
    width: 100%;

    .heading {
      float: left;
      width: 55%;

      .heading-large { margin-top: 0; }
    }

    .change {
      float: right;
      position: relative;
      width: 45%;
      /* margin-top: 2.5em; */

      a {
        position: absolute;
        right: 0;
      }
    }
    .clear { clear: both; }
  }

  #trailer-bar {
    width: 100%;
    height: 5px;
    background-color: $govuk-blue;
  }

  #manage { text-align: right; font-weight: 700; }
}
@media (max-width: 641px) {
  #content.trailer-record {
    .column-full {
      button { margin-top: 1.5em; }
    }
    .heading-section {
      .heading {
        float: none;
        width: 100%;

        h1.heading-large {
          width: 100%;
          display: block;
          span { margin-bottom: 2em; }
        }
      }

      .change {
        display: block;
        float: none;
        width: 100%;
        height: 50px;
        // margin-top: -1em;
        // position: relative;

        p {
          display: block;
          margin-top: -5em;
          // position: absolute;
          // text-align: left;
          // left: 0;
          a {
            // position: fixed;
            left: 0 !important;
            // padding-left: 1em;
          }
        }
      }
    }
  }
}

// Sortable table
table#sortable-table thead tr th:hover { cursor: pointer; }

th {
  &::after {
    content: '.';
    color: transparent;
    display: inline-block;
    cursor: pointer;
    width: 14px;
    margin-bottom: -0.05em;
    margin-left: .5em;
  }
  &.sort-default::after {
    background: url('/public/v6/images/sort-arrow-sprite-2x.png');
  }
  &.sort-a-z::after {
    background: url('/public/v6/images/sort-arrow-sprite-2x.png') 0 -52px;
    background-repeat: no-repeat;
  }
  &.sort-z-a::after {
    background: url('/public/v6/images/sort-arrow-sprite-2x.png') 0 -20px;
    background-repeat: no-repeat;
  }
}

table#sortable-table .table-label {display: none; }
table#sortable-table a.manage-link { display: none; }

@media (max-width: 641px) {
  span#trailer-table {
    width: 100%;
    position: relative;

    thead { display: none; }

    // Only show certain borders
    tr:first-child td:first-child { border-top: 1px solid #bfc1c3; }
    td:first-child,
    td:nth-child(2),
    td:last-child { border: none; }

    td {
      display: block;
      float: left;
      width: 95%;

      // Table cells
      .table-label,
      .table-details { display: inline-block; }
      .table-label { width: 30%; min-width: 30% !important; }
      .table-details { width: 70%; min-width: 70% !important; font-weight: 700; }

      &:nth-child(2),
      &:nth-child(3) {
        margin-top: .1em !important;
        padding-top: .1em !important;
      }

      &#manage { display: none; }

      a.manage-link {
        position: unset;
        display: block;
        float: right;
        margin-top: -1.25em;
        font-weight: 700;
      }
    }
  }
}

// trailer-record/manage.html
#content.trailer-record-manage {
  fieldset { margin-top: 0;}
  h2.heading-medium { margin-top: .5em; }
  .multiple-choice { margin-bottom: 10px !important; }
  .column-third {
    /* width: 100%; */
    /* height: 5px; */
    /* background-color: $govuk-blue; */
    border-top: 10px solid $govuk-blue;
  }
  dd {
    font-weight: 700;
    margin-bottom: .5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #BFC1C3; }
}

// trailer-record/actions/removal-name.html
#content.removal-name {
  .error-summary,
  .error-message { display: none; }
  .multiple-choice { margin-bottom: 10px !important; }
  #other-title-span { display: none; }
  #other-title-span .form-group { margin-bottom: 30px !important; }
}

// trailer-record/actions/removal-date.html
#content.removal-date {
  /* .error-message { display: none; }
  ul.error-summary-list li { display: none; } */

  .form-date .form-group {
    float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
  }

  .form-date .form-group label {
    display: block;
    padding-bottom: 2px;
  }

  .form-date .form-group input { width: 100%; }
  .form-date .form-group-year { width: 70px; }
}

// trailer-record/actions/removal-address.html
#content.removal-address {
  dd { font-weight: 700; }
}






// REGISTER FLOW
// ==========================================================================

// register/have-vin-number.html
#content.have-vin-number {
  .error-summary,
  .error-message { display: none; }
}

// register/trailer-manufacturer.html
#content.trailer-manufacturer {
  .autocomplete-wrapper {
    max-width: 20em;
    margin-bottom: 2rem;
  }
}

// register/trailer-weights.html
#content.trailer-weights {
  details { margin-top: .75em; }
  ul.error-summary-list li { display: none; }
}

// register/trailer-summary.html
#content.trailer-summary-page {
  .column-third { margin-top: .1em; }

  .accordion.with-js { border: none; }
  .accordion-section {
    border: 2px solid $border-colour;
    margin-bottom: .5em;
  }
  .accordion-section-header {
    background-color: $highlight-colour;

    h2.heading-medium { padding-left: .5em; }
  }
  .accordion-section-body {
    padding-top: .75em;
  }
  .accordion#registered-list .accordion-controls { display: none; }

  .cya-question {
    width: 40%;
    padding-left: .5em;
  }
  .cya-change { padding-right: .5em !important; }
  .remove-row {
    background-color: $highlight-colour;
    min-height: 30px;
    max-height: 40px;

    .remove {
      margin: .75em 0 1em;
      font-weight: 700;
      // padding: .526315em .789473em .263157em;
    }
  }

  .paragraph { margin-bottom: 0; padding-bottom: 0; }
  .button.blue { margin-right: 1em; }

  // .remove-row
  // .button.remove {
  //   background-color: $govuk-blue;
  //   border-bottom: 0;
  // }
}

#order-summary {
  // margin-top: 2.9em;
  padding: 1em 1em 1em;
  background-color: $panel-colour;
  border: 4px solid $border-colour;

  .heading-medium { margin-top: 0em; }

  .payment-items {
    margin-bottom: .5em;

    &span:first-child { margin-bottom: 1em; }
  }

  // #first-reg-amount,
  // #acquire-amount {
  //   font-size: 24px;
  //   font-weight: 700;
  // }
  #total-cost {
    font-size: 36px;
    font-weight: 700;
  }

  #trailer-amount,
  #cost {
    font-size: 24px;
    font-weight: 700;
  }
}

// REGISTER/CHECK FLOW
// ==========================================================================
// register/check/trailer-weights.html
#content.check-trailer-weights {
  details { margin-top: .75em; }
}





// CREATE FLOW
// ==========================================================================
// create/what-to-expect.html
#content.what-to-expect {
  #company,
  #personal { display: none; }
}

// create/name.html
#content.create-name {
  .autocomplete-wrapper {
    max-width: 20em;
    margin-bottom: 0;
  }
  #other-title-span { display: none; }
  #other-title-span .form-group { margin-bottom: 30px !important; }
  /* .form-group.first { margin-bottom: 1em; } */
}





// ADMIN
// ==========================================================================
#content.admin,
#content.admin-exit-pages {
  .grid-row.no-back { display: none; }
  .grid-row.question { margin-top: 0; }
  .heading-large { font-size: 24px; }
  .heading-medium { font-size: 19px; }
  .heading-small { font-size: 16px; }
  .first { padding-left: 0; }
  li a { font-size: 16px; }
}

#content.admin-exit-pages {
  .removed { text-decoration: line-through; }
}


// Search within results table
// ==========================================================================

.inset-search {
    input {
        min-width: 300px;
        padding-left: 10px;
        font-size: 16px;
        min-height: 40px;
    }
}

#trailer-table {
    h2 {
        margin-bottom: 1.5em;
    }
}

table {
    #reg { width: 25% }
    #vin { width: 30% }
    #manu { width: 45% }
}

.no-search-results {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}