{% extends "layout-v6.html" %}

{% block page_title %} This trailer has already been registered {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <span id="page-content">
                </span>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var value = document.referrer.substring(document.referrer.lastIndexOf('/') + 1).split("?")[0];
        console.log('url = ' + value);

        // Headings
        var cantRegister = '<div class="govuk-box-highlight grey"><h1 class="heading-large">You cannot register this trailer</h1></div>';
        var dontRegister = '<div class="govuk-box-highlight grey"><h1 class="heading-large">You do not need to register this trailer</h1></div>';
        // Paragraph
        var alreadyBeenRegistered = '<p>Our records show the trailer has already been registered.</p>';
        var stillRegister = '<p>You can still register if you want to.</p>';
        var travelling = '<p>Trailers travelling to the Republic of Ireland, Spain, Cyprus and Malta are not required to register, unless you pass through a foreign country that has ratified the 1968 Vienna Convention on the same journey.</p>';
        var over750 = '<p>Trailers must be over 750kg to add to your trailer account.</p>';
        // Button
        var buttonBought = '<div class="form-group"><button class="button">Tell us you have bought a trailer</button></div>';
        var buttonRegister = '<div class="form-group"><button class="button">I want to register</button></div>';
        // Links
        var goTrailerRecord = '<a href="/trailer-record">Go to trailer dashboard</a>';

                                    // Heading      // Paragraph                    // Button           //Link
        var notOutsideUk =          dontRegister +  stillRegister +                 buttonRegister +    goTrailerRecord;
        var notTravellingThrough =  dontRegister +  travelling + stillRegister +    buttonRegister +    goTrailerRecord;
        var underWeight =           cantRegister +  over750 +                                           goTrailerRecord;
        var manNotListed = cantRegister;

        if (value === "already-registered") {
            document.title = 'You cannot register this trailer';
            $('#page-content').html(alreadyRegistered);
        }
        if (value === "not-outside-uk") {
            document.title = 'You do not need to register this trailer';
            $('#page-content').html(notOutsideUk);
        }
        if (value === "not-travelling-through") {
            document.title = 'You do not need to register this trailer';
            $('#page-content').html(notTravellingThrough);
            go('/create/what-to-expect');
        }
        if (value === "under-weight") {
            document.title = 'You cannot register this trailer';
            $('#page-content').html(underWeight);
            go('/trailer-record');
        }

        $('.button').click(function() {
            if (value === "not-travelling-through") {
                go('/create/what-to-expect');
            }
            if (value === "under-weight") {
                go('/trailer-record');
            }
        });
    </script>
{% endblock %}