{% extends "layout-v6.html" %}

{% block page_title %} Trailer registration declaration {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}

                <div class="form-group">
                    <fieldset class="inline">
                        <legend>
                            <h1 class="heading-large">Trailer registration declaration</h1>
                        </legend>

                        <p>You must register any trailers that:</p>
                        <ul class="list list-bullet">
                            <li>travel abroad, weigh over 750kg in gross weight and are used commercially</li>
                            <li>travel abroad, weigh over 3,500kg in gross weight and are not used commercially</li>
                        </ul>

                        <p>Trailers travelling to the Republic of Ireland, Spain, Cyprus and Malta are not required to register,
                            unless they pass through a foreign country that has ratified the 1968 Vienna Convention.</p>

                        <!-- <p>You cannot register trailers that weigh less than 750kg.</p> -->

                        <p>It is optional to register for all other trailers.</p>

                        <div class="form-group">
                            <p>If you’re still unsure, you can <a href="/register/check/trailer-weights">check if you need to register your trailer</a>.</p>
                        </div>

                        {% include "includes/errors/error-message.html" %}

                        <div class="form-group declaration-input">
                            <div class="multiple-choice">
                                <input id="declaration" name="declaration" type="checkbox" value="true">
                                <label for="declaration">I have read and understand which trailers need to be registered</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                {% include "includes/buttons/continue.html" %}
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(validate);

        function validate() {
            var value = $('input[name=declaration]:checked').val();

            if (value == 'true') {
                console.log($('input[name=declaration]:checked').val());
                go('/register/have-registration-number');
            } else {
                showErrors();
                $('.error-summary p').hide();
                $('.error-summary-list li a').html('You must agree to the declaration to continue');
                $('.error-message').html('You must agree to the declaration');
            }
        }
    </script>
{% endblock %}