{% extends "layout-v6.html" %}

{% block page_title %} Enter trailer weights {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" class="trailer-weights" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">There has been a problem</h2>

                    <p>Amend the following to continue</p>

                    <ul class="error-summary-list">
                        <li><a href="#error-link-1">Provide a gross weight to continue</a></li>
                        <li><a href="#error-link-2">Provide an unladen weight to continue</a></li>
                    </ul>
                </div>

                <div class="form-group all-errors">
                    <h1 class="heading-large"><span class="title">Enter trailer weights</span></h1>

                    <div class="form-group">
                        <fieldset>
                            <label class="form-label" for="gross-weight">
                                <legend class="gross-weight">Gross weight (kg)</legend>
                                {% include "includes/errors/error-message-input.html" %}
                            </label>
                            <input class="form-control" id="gross-weight" name="gross-weight" type="number">
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <details>
                            <summary>
                                <span class="summary">What is gross weight?</span>
                            </summary>

                            <div class="panel panel-border-narrow">
                                <p>This is specified by the manufacturer and it means the maximum weight the trailer is allowed to be when fully loaded.
                                    It is the unladen weight of the trailer plus the maximum permitted payload.
                                    It is also known as the Maximum Permissible Mass.</p>
                            </div>
                        </details>
                    </div>

                    <div class="form-group">
                        <fieldset>
                            <label class="form-label" for="unladen-weight">
                                <legend>Unladen weight (kg)</legend>
                                {% include "includes/errors/error-message-input-2.html" %}
                            </label>
                            <input class="form-control" id="unladen-weight" name="unladen-weight" type="number">
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <details>
                            <summary>
                                <span class="summary">What is unladen weight?</span>
                            </summary>

                            <div class="panel panel-border-narrow">
                                <p>The weight of an empty trailer, including any permanent modifications.</p>
                            </div>
                        </details>
                    </div>
                </div>

                {% include "includes/buttons/continue.html" %}

                <a href="/register/trailer-summary" class="cancel-button">Cancel and go to trailers pending payment</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('h1').click(function() {
            var gross = randomWeight(751,250000);
            var unladen = randomWeight(100,150000);
            $('input[id=gross-weight]').val(unladen + gross);
            $('input[id=unladen-weight]').val(unladen);
        });
        $('.gross-weight').click(function() {
            $('input[id=gross-weight]').val(600);
            $('input[id=unladen-weight]').val(500);
        });

        var url = document.referrer.substring(document.referrer.lastIndexOf('/') + 1).split("?")[0];
        console.log('url = ' + url);

        $(document).ready(function () {
            getPendingTrailers();
            if (pendingTrailers == 0) {
                $('.cancel-button').hide();
            } else {
                $('.cancel-button').show();
            }
        });

        $('.button').click(validate);

        function validate() {
            var validInput = true;
            var value1 = parseInt($('input[name=gross-weight]').val());
            var value2 = parseInt($('input[name=unladen-weight]').val());

            hideErrors2();

            if (!value1) {
                validInput = false;
                console.log('GROSS IS EMPTY');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:first-child').css('display', 'block');
                $('.error-summary li:first-child a').html('Gross weight cannot be empty');
                $(document).find('input').first().addClass('form-control-error');
                $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input').css('display', 'block');
                $('.error-message.input').html('Provide a gross weight');
                $('body').scrollTop(0);
            }

            if (!value2) {
                validInput = false;
                console.log('UNLADEN IS EMPTY');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:last-child').css('display', 'block');
                $('.error-summary li:last-child a').html('Unladen weight cannot be empty');
                $(document).find('input').last().addClass('form-control-error');
                $('input[name=unladen-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input2').css('display', 'block');
                $('.error-message.input2').html('Provide an unladen weight');
                $('body').scrollTop(0);
            }

            if (!value1 && !value2) {
                return;
            }

            if (value1 <= 750) {
                validInput = false;
                go('/exit');
                // console.log('GROSS IS LESS THAN 751');
                // fixPageTitle();
                // $('.error-summary').css('display', 'block').focus();
                // $('.error-summary li:first-child').css('display', 'block');
                // $('.error-summary li:first-child a').html('Gross weight must be more than 750kg');
                // $(document).find('input').first().addClass('form-control-error');
                // $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                // $('.error-message.input').css('display', 'block');
                // $('.error-message.input').html('Enter a gross weight more than 750kg');
                // $('body').scrollTop(0);
            }

            if (value1 > 250000) {
                validInput = false;
                console.log('GROSS IS MORE THAN 44000');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:first-child').css('display', 'block');
                $('.error-summary li:first-child a').html('Gross weight must be 250,000kg or less');
                $(document).find('input').first().addClass('form-control-error');
                $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input').css('display', 'block');
                $('.error-message.input').html('Enter a gross weight 250,000kg or less');
                $('body').scrollTop(0);
            }

            if (value2 < 100) {
                validInput = false;
                console.log('UNLADEN IS LESS THAN 100');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:last-child').css('display', 'block');
                $('.error-summary li:last-child a').html('Unladen weight must be 100kg or more');
                $(document).find('input').last().addClass('form-control-error');
                $('input[name=unladen-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input2').css('display', 'block');
                $('.error-message.input2').html('Enter an unladen weight 100kg or more');
                $('body').scrollTop(0);
            }

            if (value2 > 249999) {
                validInput = false;
                console.log('UNLADEN IS 249999');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:last-child').css('display', 'block');
                $('.error-summary li:last-child a').html('Unladen weight must be less than 250,000kg');
                $(document).find('input').last().addClass('form-control-error');
                $('input[name=unladen-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input2').css('display', 'block');
                $('.error-message.input2').html('Enter an unladen weight less than 250,000kg');
                $('body').scrollTop(0);
            }

            if (validInput && (value1 == value2)) {
                validInput = false;
                console.log('GROSS AND UNLADEN ARE SAME');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:first-child').css('display', 'block');
                $('.error-summary li:first-child a').html('Gross weight and unladen weight cannot be the same');
                $(document).find('input').first().addClass('form-control-error');
                $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input').css('display', 'block');
                $('.error-message.input').html('Enter a gross weight that is more than the unladen weight');
                $(document).find('input').last().addClass('form-control-error');
                $('input[name=unladen-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-message.input2').css('display', 'block');
                $('.error-message.input2').html('Enter an unladen weight that is less than the gross weight');
                $('body').scrollTop(0);
            }

            if (validInput && (value2 > value1)) {
                validInput = false;
                console.log('UNLADEN IS MORE THAN GROSS');
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:first-child').css('display', 'block');
                $('.error-summary li:first-child a').html('Gross weight must be more than the unladen weight');
                $('.error-message.input').css('display', 'block');
                $('.error-message.input').html('Enter a gross weight that is more than the unladen weight');
                $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                $(document).find('input').first().addClass('form-control-error');
                $('.error-summary li:last-child').css('display', 'block');
                $('.error-summary li:last-child a').html('Unladen weight must be less than gross weight');
                $('input[name=unladen-weight]').closest('.form-group').addClass('form-group-error');
                $(document).find('input').last().addClass('form-control-error');
                $('.error-message.input2').css('display', 'block');
                $('.error-message.input2').html('Enter an unladen weight that is less than the gross weight');
                $('body').scrollTop(0);
            }

            function hideErrors2() {
                $('.error-summary').hide();
                $('.error-summary li').hide();
                $('.form-group').removeClass('form-group-error');
                $('.form-control').removeClass('form-control-error');
                $('.error-message').hide();
                $('body').scrollTop(0);
            }

            if (validInput) {
                // if (member.trailer === undefined) {
                //     member.trailer = {};
                // }

                // if (changing == "true") {
                //     member.trailers[member.currentTrailerPosition].gross = value1;
                //     member.trailers[member.currentTrailerPosition].unladen = value2;
                //     if (url == 'trailer-summary') {
                //         go('/register/trailer-summary');
                //     } else {
                //         go('/success');
                //     }
                // } else {
                //     member.trailer.gross = value1;
                //     member.trailer.unladen = value2;
                //     console.log('gross = ' + member.trailer.gross);
                //     console.log('unladen = ' + member.trailer.unladen);
                //     go('/register/saving-trailer');
                // }
            }
        }

        // If coming from check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            $('input[id=gross-weight]').val(currentTrailer.gross);
            $('input[id=unladen-weight]').val(currentTrailer.unladen);
            document.title = 'Change trailer weights';
            $('.title').html('Change trailer weights');
            $('.button').html('Save and continue');
        }
    </script>
{% endblock %}