{% extends "layout-v6.html" %}

{% block page_title %} Enter trailer weights {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
    <style type="text/css">
        details { margin-top: .75em; }
        ul.error-summary-list li { display: none; }
    </style>
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">There has been a problem</h2>

                    <p>Amend the following to continue</p>

                    <ul class="error-summary-list">
                        <li><a href="#error-link-1">Provide a gross weight to continue</a></li>
                        <li><a href="#error-link-2">Provide an unladen weight to continue</a></li>
                    </ul>
                </div>

                <h1 class="heading-large"><span class="title">Enter trailer weights</span></h1>

                <div class="form-group">
                    <fieldset>
                        <label class="form-label" for="gross-weight">
                            <legend>Gross weight (kg)</legend>
                            {% include "includes/errors/error-message-input.html" %}
                        </label>
                        <input class="form-control" id="gross-weight" name="gross-weight" type="text">
                    </fieldset>
                </div>

                <div class="form-group">
                    <details>
                        <summary>
                            <span class="summary">What is gross weight?</span>
                        </summary>

                        <div class="panel panel-border-narrow">
                            <p>This is specified by the manufacturer and it means the maximum weight the trailer is allowed to be when fully loaded.
                                It is the unladen weight of the trailer plus the maximum permitted payload.
                                It is also known as the Maximum Permissible Mass.</p>
                        </div>
                    </details>
                </div>

                <div class="form-group">
                    <fieldset>
                        <label class="form-label" for="unladen-weight">
                            <legend>Unladen weight (kg)</legend>
                            {% include "includes/errors/error-message-input-2.html" %}
                        </label>
                        <input class="form-control" id="unladen-weight" name="unladen-weight" type="text">
                    </fieldset>
                </div>

                <div class="form-group">
                    <details>
                        <summary>
                            <span class="summary">What is unladen weight?</span>
                        </summary>

                        <div class="panel panel-border-narrow">
                            <p>The weight of an empty trailer, including any permanent modifications.</p>
                        </div>
                    </details>
                </div>

                {% include "includes/buttons/continue.html" %}

                <a href="/register/trailer-summary" class="cancel-button">Cancel and go to trailers pending payment</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        var gross = randomWeight(1,5000);
        var unladen = randomWeight(750,5000);

        $('h1').click(function() {
            $('input[id=gross-weight]').val(unladen + gross);
            $('input[id=unladen-weight]').val(unladen);
        });

        var url = document.referrer.substring(document.referrer.lastIndexOf('/') + 1).split("?")[0];
        console.log('url = ' + url);

        $(document).ready(function () {
            getPendingTrailers();
            if (pendingTrailers == 0) {
                $('.cancel-button').hide();
            } else {
                $('.cancel-button').show();
            }
        });

        $('.button').click(validate);

        function validate() {
            var validInput = true;
            var value1 = $('input[name=gross-weight]').val();
            var value2 = $('input[name=unladen-weight]').val();

            hideErrors();

            if (!value1) {
                console.log('VALUE 1 IS BLANK');
                validInput = false;
                fixPageTitle();
                $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:first-child').css('display', 'block');
                $('.error-message.input').css('display', 'block');
                $('legend').attr('id', 'error-link');
                $('body').scrollTop(0);
                $('input[name=gross-weight]').closest('form-group').addClass('form-control-error');
                $(function() {
                    $('.error-message.input').html('Provide a gross weight');
                });
            }

            if (!value2) {
                console.log('VALUE 2 IS BLANK');
                validInput = false;
                fixPageTitle();
                $('input[name=unladen-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:last-child').css('display', 'block');
                $('.error-message.input2').css('display', 'block');
                $('legend').attr('id', 'error-link');
                $('body').scrollTop(0);
                $('input[name=unladen-weight]').closest('form-group').addClass('form-control-error');
                $(function() {
                    $('.error-message.input2').html('Provide an unladen weight');
                });
            }

            if (
                ((value1) && (value2)) &&
                (value1 !== 0) &&
                (value1 <= value2)
            ) {
                console.log('GROSS IS EQUAL OR LESS');
                validInput = false;
                console.log("gross IS less than unladen");
                fixPageTitle();
                $('input[name=gross-weight]').closest('.form-group').addClass('form-group-error');
                $('.error-summary').css('display', 'block').focus();
                $('.error-summary li:first-child').show();
                $('.error-summary li:first-child a').html('Correct gross weight to continue');
                $('.error-summary li:last-child').hide();
                $('.error-message.input').css('display', 'block');
                $('legend').attr('id', 'error-link');
                $('body').scrollTop(0);
                $('input[name=gross-weight]').closest('form-group').addClass('form-control-error');
                $(function() {
                    $('.error-message.input').html('Gross weight cannot be the same or less than unladen weight');
                });
            }

            if (((value1) && (value2)) && (value1 <= 750)) {
                validInput = false;
                go('/exit/under-750-register');
            }

            if (validInput) {
                if (changing == "true") {
                    member.trailers[member.currentTrailerPosition].gross = value1;
                    member.trailers[member.currentTrailerPosition].unladen = value2;
                    if (url == 'trailer-summary') {
                        go('/register/trailer-summary');
                    } else {
                        go('/success');
                    }
                } else {
                    member.trailer.gross = value1;
                    member.trailer.unladen = value2;
                    console.log('gross = ' + member.trailer.gross);
                    console.log('unladen = ' + member.trailer.unladen);
                    go('/register/saving-trailer');
                }
            }
        }

        // If coming from check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            $('input[id=gross-weight]').val(currentTrailer.gross);
            $('input[id=unladen-weight]').val(currentTrailer.unladen);
            document.title = 'Change trailer weights';
            $('.title').html('Change trailer weights');
            $('.button').html('Save and continue');
        }
    </script>
{% endblock %}