<h2 class="heading-medium">Register a trailer</h2>

<ol class="list list-number">
    <h3 class="heading-small">Trailer account</h3>
    <li><a href="/trailer-record">/trailer-record</a></li>
    <li><a href="/register/declaration">/register/declaration</a></li>
    <li><a href="/register/have-registration-number">/register/have-registration-number</a></li>
    <li><a href="/register/have-vin-number">/register/have-vin-number</a></li>
    <li><a href="/register/trailer-manufacturer">/register/trailer-manufacturer</a></li>
    <li><a href="/register/trailer-weights">/register/trailer-weights</a></li>
    <li><a href="/register/trailer-summary">/register/trailer-summary</a></li>
    <li><a href="/payment">/payment</a></li>
    <li><a href="/processing">/processing</a></li>
    <li><a href="/success">/success</a></li>
</ol>