{% extends "layout-v6.html" %}

{% block page_title %} Admin | Page list {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard.html" %}
    <style type="text/css">
        .grid-row.no-back { display: none; }
        .grid-row.question { margin-top: 0; }
        .heading-large { font-size: 24px; }
        .heading-medium { font-size: 19px; }
        .heading-small { font-size: 16px; }
        .first { padding-left: 0; }
        li a {
            font-size: 16px;
        }
    </style>
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row no-question">
            <div class="column-full">
                <div class="breadcrumbs">
                    <ol>
                        <li><a href="/admin">Admin</a></li>
                        <li>Page list</li>
                    </ol>
                </div>

                <h1 class="heading-large">Page list</h1>
            </div>
        </div>


        <div class="grid-row">
            <div class="column-full">
                <div class="column-third first">
                    {% include "admin/page-list/_create.html" %}
                </div>

                <div class="column-third">
                    {% include "admin/page-list/_register.html" %}
                </div>

                <div class="column-third">
                    {% include "admin/page-list/_keeper-details.html" %}
                </div>
            </div>
        </div>


        <div class="grid-row">
            <div class="column-full">
                <div class="column-third">
                    {% include "admin/page-list/_change-weight.html" %}
                </div>

                <div class="column-third">
                    {% include "admin/page-list/_replacement-certificate.html" %}
                </div>
                
                <div class="column-third">
                    {% include "admin/page-list/_sold.html" %}
                </div>
            </div>
        </div>


        <div class="grid-row">
            <div class="column-full">
                <div class="column-third">
                    {% include "admin/page-list/_export.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
{% endblock %}