{% extends "layout-v6.html" %}

{% block page_title %} You cannot create a trailer account {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="govuk-box-highlight grey">
                    <h1 class="heading-large">You cannot register this trailer</h1>
                </div>

                <p>You can only register trailers that weigh over 750kg in gross weight.</p>

                <button class="button" type="submit">Register another trailer</button>

                <p class="margin-top-1">
                    <a href="/trailer-record">Cancel and go to trailer dashboard</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.button').click(function() {
            go('/register/have-registration-number');
        });
    </script>
{% endblock %}