{% extends "layout.html" %}

{% block page_title %} What is the trailer chassis number? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row no-bottom">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list error-list">
                    <li class="chassisNumber error-message hide"><a href="#chassisNumber">Provide the trailer chassis number</a></li>
                </ul>
            </div>

            <h1 class="heading-large">What is the trailer chassis number?</h1>

            <div class="form-group" id="question">
                <label for="chassisNumber">
                    <span class="error-message chassisNumber hide">Enter the trailer chassis number<br></span>
                </label>

                <input class="form-control" id="chassisNumber" type="text" name="chassisNumber">
            </div>
            
            {{ button.input(class='button', type='button', value='Continue') }}
            
        </div>
    </div>

</main>

<!--
<script type="text/javascript">
    if (member.questions === undefined) {
        member.questions = {};
    }

    $('.button').click(checkAnswers);

    function checkAnswers() {
        var validInput = true;
        var chassisNumber = $('input[name=chassisNumber]').val();

        if (chassisNumber) {
            member.chassisNumber = chassisNumber;
            go('over-750');

        } else {
            $('body').scrollTop(0);
            $('.error-summary').show();
            $('.error-summary').focus();
            $('.error-message').show();
            $('#question').addClass('error');
        }
    }
</script>
-->

<script type="text/javascript">
    var changing = location.search.split('change=')[1];
    if (changing === 'true') {
        $('.button-back').hide();
    }

    $('.button').click(checkAnswers);

    function checkAnswers() {
        var validInput = true;
        var chassisNumber = $('input[name=chassisNumber]').val().toUpperCase();

        if (chassisNumber) {
            member.chassisNumber = chassisNumber;

            if (changing === "true") {
                if (chassisNumber === "EXAMPLEVIN001") {
                    go('../exit/already-registered');
                } else {
                    go('../check-your-answers');
                }
            } else {
                if (chassisNumber === "EXAMPLEVIN001") {
                    go('../exit/already-registered');
                } else {
                    go('over-750');
                }  
            }
        } else {
            $('body').scrollTop(0);
            $('.error-summary').show();
            $('.error-summary').focus();
            $('.error-message').show();
            $('#question').addClass('error');
        }
    }
</script>
{% endblock %}