{% extends "layout.html" %}

{% block page_title %} What’s your address? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There’s a problem with the information you have provided</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list">
                    <li class="postcode error-message hide"><a href="#qpostcode">Provide a valid postcode</a></li>
                </ul>
            </div>

            <h1 class="heading-large">What’s your address?</h1>

            <form class="form">
                <div class="form-group">
                    <fieldset>
                        <legend class="visuallyhidden">What’s your address?</legend>

                        <div class="form-group" id="qaddress">
                            <label class="form-label" for="number">
                                House name or number (optional)
                                <span class="form-hint"></span>
                                <span class="address1 error-message hide">
                                    Provide the new house number/name and street
                                </span>
                            </label>
                            <input spellcheck="false" class="form-control form-control-1-4" id="number" name="number" type="text" value="">
                        </div>
                        <div class="form-group" id="qpostcode">
                            <label class="form-label" for="postcode">
                                Postcode
                                <span class="form-hint"></span>
                                <span class="postcode error-message hide">
                                    Enter a valid postcode
                                </span>
                                <!--
<span class="postcode format error-message">
Provide correct postcode format
</span>
-->
                            </label>
                            <input spellcheck="false" class="form-control form-control-1-4" id="postcode" name="postcode" type="text" value="">
                        </div>
                    </fieldset>

                    {{ button.input(id='continue', name='continue', class='button', type='button', value='Find UK address') }}
                    
                </div>
            </form>
            
            <details>

                <summary><span class="summary">I live outside the UK</span></summary>

                <div class="panel panel-border-narrow">

                    <p>The trailer can only be registered at a UK address.</p>

                </div>

            </details>
                        
        </div>
    </div>
</main>
<!--
122 Burns Crescent
Edinburgh
EH1 9GP
-->

<script type="text/javascript">
    $('.button').click(checkAnswers);

    if (member.questions === undefined) {
        member.questions = {};
    }

    function checkAnswers() {
        var question = "Address";
        var validInput = true;
        var request = '?';

        $('.address1.error-message').hide();
        $('#qaddress').removeClass('form-group-error error');
        $('#qpostcode').removeClass('form-group-error error');
        $('.postcode.format.error-message').hide();       
        
        var postcode = $('input[name=postcode]').val();
        if ((postcode == '') || (postcode == undefined)) {
            $('#qpostcode').addClass('form-group-error error');
            $('.postcode.error-message').show();
            $('.error-summary').show();
            $('body').scrollTop(0);
            $('.error-summary').focus();
            validInput = false;
        } else {
            request += "postcode=" + postcode;
        }

        // Postcode format
        //        var postcodeFormat = /^[A-Z]{1,2}[0-9]{1,2}\s?[0-9]{1}[A-Z]{2}$/;
        //
        //        if ((postcode == '') || (postcode == undefined)) {
        //            $('#qpostcode').addClass('form-group-error error');
        //            $('.postcode.error-message').show();
        //            $('.postcode.error-message.format').hide();
        //            $('.error-summary').show();
        //            $('body').scrollTop(0);
        //            validInput = false;
        //        } else if (postcodeFormat.test(postcode) === false) {
        //            $('#qpostcode').addClass('form-group-error error');
        //            $('.postcode.error-message').hide();
        //            $('.postcode.format.error-message').show();
        //            $('.error-summary').show();
        //            $('body').scrollTop(0);
        //            validInput = false;
        //        } else {
        //            request += "postcode=" + postcode;
        //        }

        var number = $('input[name=number]').val();
        if ((number == '') || (number == undefined)) {
            // Do nothing
        } else {
            request += "&number=" + number;
        }

        if (validInput) {
            // Create a playback string
            $.getJSON('/api/address-lookup' + encodeURI(request), function(addresses) {
                member.addresses = addresses;

                if (member.addresses.length === 1) {
                    // Load address into fields and allow to manually edit
                    member.address = member.addresses[0];
                    go('address-confirmation');
                } else if (member.addresses.length > 1) {
                    // Show list of addresses
                    go('address-list');
                } else {
                    // No results, enter manually
                    go('address-manual');
                }
                console.log(addresses);
            });

            //next();
        }
    }
</script>
{% endblock %}