{% extends "layout.html" %}

{% block page_title %} Register a trailer for the first time or as a new owner {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="https://www.gov.uk/browse/driving">Driving and transport</a></li>
            <li><a href="https://www.gov.uk/browse/driving/number-plate">Number plates, vehicle registration and log books</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
<!--                {% if serviceName %} {{ serviceName }} {% endif %}-->
                Register a trailer for the first time or as a new owner
            </h1>

            <p>Use this service to register a trailer:</p>

            <ul class="list list-bullet">
                <li>you only need to register if you meet certain criteria</li>
                <li>you can use this service to check if you need to register.</li>
            </ul>

            <div class="panel panel-border-wide">
                <p>This page is available in Welsh (<a href="#">Cymraeg</a>).</p>
            </div>

            {{ button.input(class='button button-start', type='button', value='Start now') }}

            <h2 class="heading-medium">Before you start</h2>

            <p>You need:</p>
                
            <ul class="list list-bullet">
                <li>the trailer’s details</li>
                <li>a valid email address</li>
                <li>a debit or credit card if you’re registering the trailer for the first time with <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>.</li>
            </ul>
            
            <p class="modified-date form-hint">Last updated: 4 May 2018</p>
                
        </div>

        <div class="column-third">
            <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Driving and transport</h2>

                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="font-xsmall">
                        <li><a href="manage">Manage your trailer registration</a></li>
                        <li><a href="https://www.gov.uk/vehicle-registration">Vehicle registration</a></li>
                        <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in subsection</span></a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

<script type="text/javascript">
    $('.button.button-start').click(next);

    function next() {
        member.clear();

        if (member.questions === undefined) {
            member.questions = {};
        }

        member.questions.serviceName = 'register';

        console.log(member.questions.serviceName);

        go('register/trailer-details');
    };
</script>
{% endblock %}