{% extends "layout.html" %}

{% block page_title %} Who are you registering the trailer for? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list error-list">
                    <li class="error-message keeper hide"><a href="#keeper-company">Select an option</a></li>

                    <li class="error-message companyName hide"><a href="#companyName">Provide the company name</a></li>

                    <li class="error-message keeperName hide"><a href="#keeperName">Provide the keeper’s full name</a></li>
                </ul>
            </div>

            <h1 class="heading-large">Who are you registering the trailer for?</h1>

            <form class="form">
                <div class="form-group" id="question1">
                    <span class="error-message keeper hide">Select an option</span>

                    <fieldset class="inline">
                        <legend class="visually-hidden">Who are you registering the trailer for?</legend>

                        <div class="multiple-choice">
                            <input id="keeper-company" type="radio" name="keeper" value="Company">
                            <label class="block-label" for="keeper-company" id="keeper-company-label">Company</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="keeper-individual" type="radio" name="keeper" value="Individual">
                            <label class="block-label" for="keeper-individual" id="keeper-individual-label">Individual</label>
                        </div>

                        <div id="keeperA" class="panel panel-border-narrow" style="display: none;">
                            <div class="form-group" id="qCode">
                                <label for="Code">
                                    <span class="form-label">Company name</span>
                                    <span class="error-message Code hide">
                                        Provide the company name<br>
                                    </span>
                                </label>
                                <input class="form-control" id="companyName" name="companyName" type="text" style="text-transform: capitalize" value="">
                            </div>
                        </div>

                        <div id="keeperB" class="panel panel-border-narrow" style="display: none;">
                            <div class="form-group" id="qCode2">
                                <label for="Code2">
                                    <span class="form-label">Full name</span>
                                    <span class="error-message Code2 hide">
                                        Provide the keeper’s full name<br>
                                    </span>
                                </label>
                                <input class="form-control" id="keeperName" name="keeperName" type="text" value="" style="text-transform: capitalize">
                            </div>
                        </div>
                    </fieldset>
                </div>

                {{ button.input(class='button', type='button', value='Continue') }}
            </form>
        </div>
    </div>
</main>

<script type="text/javascript">
    $('#proposition-name').html("Register a trailer");

    $('.button').click(checkAnswers);

    if (member.questions === undefined) {
        member.questions = {};
    }

    var changing = location.search.split('change=')[1];
    if (changing === 'true') {
        $('.button-back').hide();
    }

    $("input[name='keeper']").change(function() {
        $('#question1').removeClass('form-group-error error');
        $('.error-message.keeper').hide();
        $('.error-summary').hide();

        if ($(this).val() === 'Company') {
            $('#keeperA').show();
        } else {
            $('#keeperA').hide();
        }

        if ($(this).val() === 'Individual') {
            $('#keeperB').show();
        } else {
            $('#keeperB').hide();
        }
    });
    
    function checkAnswers() {
        var value = $('input[name=keeper]:checked').val();
        var validInput = true;
        
        validate.prototype.resetErrors();

        if (validate('input[name=keeper]').isChecked().error('.keeper').fail()) {
            validInput = false;
        } else {
            if (value === 'Company') {
                if (validate('#companyName').isNotEmpty().error('.companyName').fail()) {
                    validInput = false;
                }
            } else if (value === 'Individual') {
                if (validate('#keeperName').isNotEmpty().error('.keeperName').fail()) {
                    validInput = false;
                }
            } 
        }

        if (validInput) {
            var value = $('input[name=keeper]:checked').val();
            member.questions.pill = value;

            var company = $('input[name=companyName]').val();
            member.questions.companyName = company;

            var keeper = $('input[name=keeperName]').val();
            member.questions.keeperName = keeper;
            
            if (changing === "true") {
                go('check-your-answers');
            } else {
                go('find-company-address');
            }

        } else {
            $('body').scrollTop(0);
            $('.error-summary').focus();
        }
    }
</script>
{% endblock %}