{% extends "layout.html" %}

{% block page_title %} What is the permissible maximum mass (kg)? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row no-bottom">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list error-list">
                    <li class="maximumMass error-message hide"><a href="#maximumMass">Provide the trailer’s permissible maximum mass</a></li>
                </ul>
            </div>

            <h1 class="heading-large">What is the permissible maximum mass (kg)?</h1>

            <div class="form-group" id="question">
                <label for="maximumMass">
                    <span class="error-message maximumMass hide">Provide the trailer’s permissible maximum mass</span><br>
                </label>

                <input class="form-control form-control-1-4" id="maximumMass" type="number" name="maximumMass">
            </div>
        </div>
    </div>
    <br>

    {{ button.input(class='button', type='button', value='Continue') }}
</main>

<script type="text/javascript">
    $('#proposition-name').html("Register a trailer");

    $('.button').click(checkAnswers);

    function checkAnswers() {
        var validInput = true;
        var maximumMass = $('input[name=maximumMass]').val();

        if (maximumMass) {
            member.maximumMass = maximumMass;
            go('unladen-mass');

        } else {
            $('body').scrollTop(0);
            $('.error-summary').show();
            $('.error-summary').focus();
            $('.error-message').show();
            $('#question').addClass('error');
        }
    }
</script>
{% endblock %}