{% extends "layout.html" %}

{% block page_title %} Does the trailer weigh over 750kg? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list error-list">
                    <li class="over750 error-message hide"><a href="#over750-a1">Select an option</a></li>
                </ul>
            </div>

            <h1 class="heading-large">Does the trailer weigh over 750kg?</h1>

            <form class="form">
                <div class="form-group" id="question">
                    <span class="over750 error-message hide">Select an option</span>

                    <fieldset class="inline">
                        <legend class="visually-hidden">Does the trailer weigh over 750kg?</legend>

                        <div class="multiple-choice">
                            <input id="over750-a1" type="radio" name="over750" value="Yes">
                            <label class="block-label" for="over750-a1" id="over750-a1-label">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="over750-a2" type="radio" name="over750" value="No">
                            <label class="block-label" for="over750-a2" id="over750-a2-label">No</label>
                        </div>
                    </fieldset>
                </div>

                {{ button.input(class='button', type='button', value='Continue') }}
            </form>
        </div>
    </div>
</main>

<script type="text/javascript">
    $('#proposition-name').html("Register a trailer");

    $('.button').click(checkAnswers);

    function checkAnswers() {
        var over750 = $('input[name=over750]:checked').val();

        if (over750 == 'Yes') {
            member.over750 = over750;
            go('abroad');
            
        } else if (over750 == 'No') {
            go('../exit/under-750');
            
        } else {
            $('body').scrollTop(0);
            $('.error-summary').show();
            $('.error-message').show();
            $('.error-summary').focus();
            $('#question').addClass('error');
        }
    }
</script>
{% endblock %}