{% extends "layout.html" %}

{% block page_title %} What is the unladen mass (kg)? {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
{% include "includes/standard-back-phase-banner.html" %}
<main id="content" role="main">
    <div class="grid-row no-bottom">
        <div class="column-two-thirds">
            <div class="error-summary hide" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list error-list">
                    <li class="unladenMass error-message hide"><a href="#unladenMass">Provide the trailer’s unladen mass</a></li>
                </ul>
            </div>

            <h1 class="heading-large">What is the unladen mass (kg)?</h1>

            <p class="margin-bottom-0">This must be the unladen mass after any permanent modifications have been made.</p>
            
            <div class="form-group" id="question">
                <label for="unladenMass">
                    <span class="error-message unladenMass hide">Enter the trailer’s unladen mass<br></span>
                </label>

                <input class="form-control form-control-1-4" id="unladenMass" type="number" name="unladenMass">
            </div>
            
            {{ button.input(class='button', type='button', value='Continue') }}
            
        </div>
    </div>

</main>

<script type="text/javascript">
    var changing = location.search.split('change=')[1];
    if (changing === 'true') {
        $('.button-back').hide();
    }

    if (changing === 'true') {
        $('input[name=unladenMass]').val(member.unladenMass);
    }
    
    $('.button').click(checkAnswers);

    function checkAnswers() {
        var validInput = true;
        var unladenMass = $('input[name=unladenMass]').val();

        if (unladenMass) {
            member.unladenMass = unladenMass;
            
            if (changing === "true") {
                go('../check-your-answers');
            } else {
                go('keeper');
            }
        } else {
            $('body').scrollTop(0);
            $('.error-summary').show();
            $('.error-summary').focus();
            $('.error-message').show();
            $('#question').addClass('error');
        }
    }
</script>
{% endblock %}