{% extends "layout_unbranded.html" %}

{% block page_title %} Register a trailer prototype {% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">DVLA GOV.UK Prototype</h1>

            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="lede">This kit is for testing only</strong>
            </div>

            <h2 class="heading-large">Which trailer flow?</h2>

            <p><a href="register">Register a trailer</a></p>

            <p><a href="manage">Manage a trailer</a></p>
        </div>
    </div>
</main>

<script type="text/javascript">
    if (member.questions === undefined) {
        member.questions = {};
    }
</script>
{% endblock %}