{% extends "layout.html" %}

{% block page_title %} Application successful {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
    <link href="/public/stylesheets/numberplate.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation_alpha.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="bold-large banner-header ">Application successful</h1>
                <h3 class="heading-small margin-top-0">You can now put the number on the trailer</h3>
                <span class="reg-mark">A1B2<br>C3D4</span>
            </div>

            <p>A receipt of the transaction and your proof of entitlement certificate XXXX has been sent  to your email address.</p>
            <p>You’ll receive your trailer registration certificate within 3 to 5 days. This should be kept with the trailer.</p>
            
            <h2 class="heading-medium">Trailer details</h2>

            <ul class="list-summary padding-bottom">
                <li class="list-summary-item">
                    <span>Registration number</span>
                    <strong><span>A1B2 C3D4</span></strong>
                </li>

                <li class="list-summary-item">
                    <span>Key</span>
                    <strong><span>XXXX</span></strong>
                </li>
            </ul>
            
            <br>
            
            <p>We have allocated a trailer key. Keep this safe as you will need this along with your trailer registration number to transact when managing your trailer record.</p>
                    
            <h2 class="heading-medium">Next steps</h2>

            <ol class="list example-icon-list">
                <li><i class="icon icon-step-1"></i> <p>Download the <a href="https://github.com/dudelmeister/template_kit">proof of entitlement certificate XXXX</a></p></li>
                <li><i class="icon icon-step-2"></i> <p>Get number plates made up with your nearest <a href='https://www.gov.uk/number-plate-supplier'>registered number plate supplier</a> (RNPS) using the XXXX. You don’t need to wait for the registration certificate to arrive in the post.</p></li>
            </ol>

            <p class="margin-top-2">You can <a href="#">print this page</a> for your records.</p>
            
            <p><a href="register/chassis">I have another trailer to register</a></p>
            
            <br>

            {{ button.input(id='continue', name='continue', class='button', type='button', value='Return to GOV.UK') }}
        </div>
    </div>
</main>

<script type="text/javascript">
    $(".button").click(function(){
        // Enter function name here
        checkAnswers();
    });

    function checkAnswers() { 
        member.clear();
        go('https://www.gov.uk/');
    }
</script>
{% endblock %}