{% extends "layout-v6.html" %}

{% block page_title %} You do not need to register this trailer {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="govuk-box-highlight grey">
                    <h1 class="heading-large">You do not need to register this trailer</h1>
                </div>

                <p>You can still register if you want to.</p>

                <div class="form-group">
                    <button class="button">I still want to register</button>
                </div>

                <a href="/trailer-record">Return to trailer record</a>
            </div>
        </div>
    </main>
{% endblock %}