<h2 class="visuallyhidden">Support links</h2>

<ul>
    <li><a href="/create/how-dvla-uses-your-data">Feedback</a></li>
    <li><a href="/condition/add">Cookies</a></li>
    <!-- <li><a href="/cookies" target="_blank">Cookies</a></li> -->
    <li><a href="/address-confirm">Terms and conditions</a></li>
    <!-- <li><a href="/terms-and-conditions" target="_blank">Terms and conditions</a></li> -->
    <li><a href="/privacy-policy" target="_blank">Privacy policy</a></li>
    <li><a href="/cymraeg">Cymraeg</a></li>
    <li>
        <p>Built by the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">Driver and Vehicle Licensing Agency</a></p>
    </li>
</ul>