<h2 class="visuallyhidden">Support links</h2>

<ul>
    <li><a href="/create/how-dvla-uses-your-data">Feedback</a></li>
    <li><a href="/condition/add">Cookies</a></li>
    <!-- <li><a href="/cookies" target="_blank">Cookies</a></li> -->
    <li><a href="/address-confirm">Terms and conditions</a></li>
    <!-- <li><a href="/terms-and-conditions" target="_blank">Terms and conditions</a></li> -->
    <li><a href="/privacy-policy" target="_blank">Privacy policy</a></li>
    <li><a href="/cymraeg">Cymraeg</a></li>
    <li class="margin-bottom-0"><p class="margin-bottom-0">Built by the <a class="margin-bottom-0" href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">Driver and Vehicle Licensing Agency</a></p></li>
    <li class="li-member-things">
        <details class="member-things">
            <summary><span class="summary">Built by the Driver and Vehicle Licensing Agency</span></summary>

            <div class="panel panel-border-narrow">
                <p>Some things to ’member, or not.</p>

                <p class="bold-medium">Users</p>
                <ul class="list list-bullet">
                    <li><a href="#" class="add-user">Add personal user</a></li>
                    <li><a href="#" class="add-company">Add company</a></li>
                    <li><a href="#" class="delete-user">Delete user</a></li>
                </ul>

                <p class="bold-medium">Trailers</p>
                <ul class="list list-bullet">
                    <li>
                        <div class="form-group">
                            <label class="font-xsmall" for="add-trailers">Add this many trailers to member</label>
                            <select class="form-control" id="add-trailers" name="add-trailers">
                                <option value="0">1 Trailer</option>
                                <option value="1">2 Trailers</option>
                                <option value="2">3 trailers</option>
                                <option value="3">4 trailers</option>
                                <option value="4">5 trailers</option>
                                <option value="9">10 trailers</option>
                                <option value="19">20 trailers</option>
                                <option value="49">50 trailers</option>
                                <option value="74">75 trailers</option>
                                <option value="99">100 trailers</option>
                                <option value="199">200 trailers</option>
                                <option value="499">500 trailers</option>
                                <option value="749">750 trailers</option>
                                <option value="999">1000 trailers</option>
                                <option value="1999">2000 trailers</option>
                            </select><br>
                            <a href="#" class="add-trailers">Add trailers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" class="delete-trailers">Delete all trailers</a>
                        </div>
                    </li>
                    <li></li>
                </ul>

                <p class="bold-medium">’member</p>
                <ul class="list list-bullet">
                    <li><a href="#" class="clear-member">Clear ’member</a></li>
                </ul>
            </div>
        </details>
    </li>
</ul>

<script type="text/javascript">
    $('a.add-company').click(function(e) {
        e.preventDefault();
        if (member.user === undefined) {
            member.user = {};
        }
        if (member.user.address === undefined) {
            member.user.address = {};
        }
        member.user.name = 'Road International Transport and Logistics GmbH (Austria)';
        member.user.address.Line1 = 'Longview Road';
        member.user.address.Line2 = 'Clase';
        member.user.address.Line3 = '';
        member.user.address.City = 'Swansea';
        member.user.address.PostalCode = 'SA6 7JL';
        member.user.address.Label = 'Driver & Vehicle Licensing Agency↵Longview Road↵Clase↵SWANSEA↵SA6 7JL↵UNITED KINGDOM'
        member.user.email = 'enquiries@alshaulage.com';
        member.user.type = 'company';
        location.reload();
    });

    $('a.add-user').click(function(e) {
        e.preventDefault();
        if (member.user === undefined) {
            member.user = {};
        }
        if (member.user.address === undefined) {
            member.user.address = {};
        }
        member.user.name = 'Al Selsigen';
        member.user.address.Line1 = 'Longview Road';
        member.user.address.Line2 = 'Clase';
        member.user.address.Line3 = '';
        member.user.address.City = 'Swansea';
        member.user.address.PostalCode = 'SA6 7JL';
        member.user.address.Label = 'Driver & Vehicle Licensing Agency↵Longview Road↵Clase↵SWANSEA↵SA6 7JL↵UNITED KINGDOM'
        member.user.email = 'enquiries@alshaulage.com';
        member.user.type = 'personal';
        location.reload();
    });

    $('a.delete-user').click(function(e) {
        e.preventDefault();
        delete member.user;
        location.reload();
        $(document).scrollTop(0);
    });

    $('a.delete-trailers').click(function(e) {
        e.preventDefault();
        delete member.trailers;
        location.reload();
        $(document).scrollTop(0);
    });

    $('a.add-trailers').click(function(e) {
        e.preventDefault();
        var trailerAmount = $('#add-trailers').val();

        if (member.trailer === undefined) {
            member.trailer = {};
        }



        var i = 0;
        console.time('Adding trailers');
        do {
            addTrailer();
        }
        while (i < trailerAmount);
        console.timeEnd('Adding trailers');
        delete i;
        delete member.trailer;
        location.reload();
        $(document).scrollTop(0);

        function addTrailer() {
            // var reg = '', vin = '', maufacturer = '', weight1 = '', weight2 = '', gross = '', unladen = '', registered = '';
            var reg = randomReg();
            var vin = randomVin();
            var manufacturer = randomManufacturer();
            var weight1 = randomWeight(1,5000);
            var weight2 = randomWeight(750,5000);
            var gross = weight2 + weight1;
            var unladen = weight2;
            var registered = true;

            var trailer = { reg, vin, manufacturer, gross, unladen, registered, };
            console.log(trailer);

            if (!member.trailers || member.trailers.length == 0) {
                member.trailers = [];
                member.trailers.push(trailer);
            } else {
                for (i = 0; i < member.trailers.length; i++) {
                    var found = false;
                }
                if (found == false) {
                    member.trailers.push(trailer);
                }
            }
        }
    });

    $('a.clear-member').click(function(e) {
        e.preventDefault();
        delete member;
        location.reload();
        $(document).scrollTop(0);
    });
</script>