<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve <span class="not-a-link"><a href="/admin">it.</a></span></span>
  </p>
  <!-- <div class="logged-user">
    <p><span id="logged-user-name"></span>: <a class="log-out" href="#">Log out</a></p>
  </div> -->
</div>

<style type="text/css">
  .not-a-link { display: inline !important; }
  .not-a-link a {
    color: #0b0c0c !important;
    text-decoration: none !important;
  }
  .not-a-link a:link,
  .not-a-link a:hover,
  .not-a-link a:visited, { color: #0b0c0c !important; }
</style>