{% extends "layout-v6.html" %}

{% block page_title %} What have you done with this trailer? {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
    <style type="text/css">
        /* .error-message { display: none; }
        ul.error-summary-list li { display: none; } */

        .form-date .form-group {
            float: left;
            width: 50px;
            margin-right: 20px;
            margin-bottom: 0;
            clear: none;
        }
        .form-date .form-group label {
            display: block;
            padding-bottom: 2px;
        }
        .form-date .form-group input { width: 100%; }
        .form-date .form-group-year { width: 70px; }
    </style>
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">There has been a problem</h2>

                    <p>Amend the following to continue</p>

                    <ul class="error-summary-list">
                        <li><a href="#error-link">Select an option to continue</a></li>

                        <li class="date-empty"><a href="#error-link">Provide a date to continue</a></li>
                        <li class="day"><a href="#day">Provide a day to continue</a></li>
                        <li class="month"><a href="#month">Provide a month to continue</a></li>
                        <li class="year"><a href="#year">Provide a year to continue</a></li>
                    </ul>
                </div>

                <form>
                    <div class="form-group form-date">
                        <fieldset>
                            <legend>
                                <h1 class="heading-large">
                                    <span class="question"></span>
                                </h1>
                                <span class="form-hint">For example, 7 9 2018</span>
                                <span class="error-message date-empty">Provide a date</span>
                                <span class="error-message date-incomplete">Date is incomplete</span>
                            </legend>

                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="removal-day">Day</label>
                                    <input class="form-control" id="removal-day" name="removal-day" type="number" pattern="[0-9]*">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="removal-month">Month</label>
                                    <input class="form-control" id="removal-month" name="removal-month" type="number" pattern="[0-9]*">
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="removal-year">Year</label>
                                    <input class="form-control" id="removal-year" name="removal-year" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>

                {% include "includes/buttons/continue.html" %}

                <a href="/trailer-record" onclick="deleteDisposal()">Cancel and go to trailer account</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('h1').click(function() {
            var testData = { "day": "7", "month": "9", "year": "2018" };
            $('input[id=removal-day]').val(testData.day);
            $('input[id=removal-month]').val(testData.month);
            $('input[id=removal-year]').val(testData.year);
        });

        if (member.disposal.type == 'sold') {
            $('.question').html('When was this trailer sold or transferred?');
            $('.button').html('Continue');
        } else if (member.disposal.type == 'scrapped') {
            $('.question').html('When was this trailer scrapped or written off?');
            $('.button').html('Remove from trailer account');
        } else if (member.disposal.type == 'exported') {
            $('.question').html('When was this trailer exported?');
            $('.button').html('Remove from trailer account');
        } else if (member.disposal.type == 'outside') {
            $('.question').html('When did you stop using this trailer outside of the <abbr title="United Kingdom">UK</abbr>?');
            $('.button').html('Remove from trailer account');
        }

        $('.button').click(validate);


        function validate() {
            var validInput = true;
            hideErrors();

            var removalDay = $('input[id=removal-day]').val();
            var removalMonth = $('input[id=removal-month]').val();
            var removalYear = $('input[id=removal-year]').val();

            // Check to see if fields are empty
            if (!removalDay && !removalMonth && !removalYear) {
                validInput = false;
                console.log('All empty');
                fixPageTitle();
                $('fieldset').closest('.form-group').addClass('form-group-error');
                $('.error-summary').css('display', 'block').focus();
                // $('.error-summary li.date-empty').css('display', 'block');
                $('.date-empty').css('display', 'block');
                // $('.error-message.date-empty').css('display', 'block');
                $('legend').attr('id', 'error-link');
                $('body').scrollTop(0);
                $('.form-date').closest('form-group').addClass('form-control-error');

            } else if (!removalDay || !removalMonth || !removalYear) {
                // Do these everytime
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $('.date-incomplete').css('display', 'block');
                $('body').scrollTop(0);
                $('fieldset').closest('.form-group').first().addClass('form-group-error');

                if (!removalDay) {
                    console.log('Day empty');
                    validInput = false;
                    $('.day').css('display', 'block');
                    $('.form-group-day').find('input').addClass('form-control-error');
                }
                if (!removalMonth) {
                    console.log('Month empty');
                    validInput = false;
                    $('.month').css('display', 'block');
                    $('.form-group-month').find('input').addClass('form-control-error');
                }
                if (!removalYear) {
                    console.log('Year empty');
                    validInput = false;
                    $('.year').css('display', 'block');
                    $('.form-group-year').find('input').addClass('form-control-error');
                }
            }

            if (validInput) {
                disposalDate = removalDay + ' ' + removalMonth + ' ' + removalYear;
                if (member.disposal === undefined) {
                    member.disposal = {};
                }
                member.disposal.dateFull = disposalDate;
                member.disposal.day = removalDay;
                member.disposal.month = removalMonth;
                member.disposal.year = removalYear;
                next();
            }

            function next() {
                if (changing == "true") {
                    go('/trailer-record/actions/check-your-answers');
                } else {
                    if (member.disposal.type == 'sold') {
                        go('/trailer-record/actions/removal-name');
                    } else {
                        go('/success');
                    }
                }
            }
        }

        var changing = location.search.split('change=')[1];
    </script>
{% endblock %}