{% extends "layout-v6.html" %}

{% block page_title %} Are you selling or transferring this trailer to a company? {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
    <style type="text/css">
        .error-summary,
        .error-message { display: none; }
        .multiple-choice { margin-bottom: 10px !important; }
        #other-title-span { display: none; }
        #other-title-span .form-group { margin-bottom: 30px !important; }
    </style>
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-large">Are you selling or transferring this trailer to a company?</h1>
                            {% include "includes/errors/error-message.html" %}
                        </legend>

                        <div class="multiple-choice" data-target="name-input-yes">
                            <input id="radio-1" type="radio" name="sale-type" value="company">
                            <label for="radio-1">Yes, to a company</label>
                        </div>
                        <div class="multiple-choice" data-target="name-input-no">
                            <input id="radio-2" type="radio" name="sale-type" value="private">
                            <label for="radio-2">No, to a private individual</label>
                        </div>

                        <div class="panel panel-border-narrow js-hidden" id="name-input-yes">
                            <legend class="visuallyhidden">Company name</legend>

                            <div class="form-group">
                                <label class="form-label company-name" for="company-name">
                                    Company name
                                    {% include "includes/errors/error-message-2.html" %}
                                </label>
                                <input class="form-control" id="company-name" type="text" name="company-name">
                            </div>
                        </div>

                        <div class="panel panel-border-narrow js-hidden" id="name-input-no">
                            <legend class="visuallyhidden"><abbr title="Vehicle Identification Number">VIN</abbr> or chassis number</legend>

                            <div class="form-group">

                                <div class="form-group first">
                                    <label class="form-label" for="title">Title</label>
                                    <select class="form-control form-control-1-4" id="title" name="title">
                                        <option></option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Ms">Ms</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <span id="other-title-span">
                                    <div class="form-group">
                                        <div class="panel panel-border-narrow">
                                            <label class="form-label title" for="other-title">Other title</label>
                                            <input class="form-control" id="other-title" name="other-title" type="text">
                                        </div>
                                    </div>
                                </span>
                                <div class="form-group">
                                    <label class="form-label" for="first-name">
                                        First name
                                        <span class="error-message input">Cannot be empty</span>
                                    </label>
                                    <input class="form-control" id="first-name" name="first-name" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="last-name">
                                        Last name
                                        <span class="error-message input2">Cannot be empty</span>
                                    </label>
                                    <input class="form-control" id="last-name" name="last-name" type="text">
                                </div>


                                <!-- <label class="form-label name" for="name">
                                    Name
                                    {% include "includes/errors/error-message-2.html" %}
                                </label>
                                <input class="form-control" id="name" type="text" name="name"> -->
                            </div>
                        </div>
                    </fieldset>
                </div>

                {% include "includes/buttons/continue.html" %}

                <a href="/trailer-record" onclick="deleteDisposal()">Cancel and go to trailer dashboard</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('.form-label.company-name').click(function() {
            var testData = { "name": "Dans Diggers" };
            $('input[id=company-name]').val(testData.name);
        });


        $('#first-name').click(function() {
            var testData = { "title": "Mr", "firstName": "Al", "lastName": "Selsigen" };
            $('select[id=title]').val(testData.title);
            $('input[name=first-name]').val(testData.firstName);
            $('input[name=last-name]').val(testData.lastName);
        });

        $('.multiple-choice').change(function() {
            $('.error-message').hide();
            $('.form-control').removeClass('form-control-error');
            // resetErrors();
            // $('input').closest('.panel.panel-border-narrow').css({'border-left':'5px solid #bfc1c3','padding-left':'0.78947em'});
        });

        $('select').change(function(){
            var title = $('#title option:selected').val();
            if (title === 'Other') {
                $('#other-title-span').show();
            } else {
                $('#other-title-span').hide();
            }
        });

        $('.button').click(validate);

        function validate() {
            // resetErrors();
            var validInput = true;
            var value1 = $('input[name=sale-type]:checked').val();
            var value2 = $('input[name=company-name]').val();
            var value3 = $('select[id=title]').val();
            var value4 = $('input[name=first-name]').val();
            var value5 = $('input[name=last-name]').val();

            if (value1 === 'company') {
                if ((value2 === '') || (value2 === undefined)) {
                    validInput = false;
                    $('.error-message.2').html('Name cannot be empty');
                }

                if (validInput) {
                    if (changing == "true") {
                        go('/trailer-record/actions/check-your-answers');
                    } else {
                        member.disposal.name = value2;
                    }
                    next();
                } else {
                    showErrors2();
                    // $('.error-message').html('<abbr title="Vehicle Identification Number">VIN</abbr> must be 17 characters');
                }
            } else if (value1 === 'private') {
                if ((!value3) && (!value4) && (!value5)) {
                    validInput = false;
                    $('.error-message.2').html('Name cannot be empty');
                }

                if (validInput) {
                    member.disposal.title = value3;
                    member.disposal.firstName = value4;
                    member.disposal.lastName = value5;

                    if (changing == "true") {
                        go('/trailer-record/actions/check-your-answers');
                    } else {
                    }
                    next();
                } else {
                    showErrors2();
                    // $('.error-message').html('<abbr title="Vehicle Identification Number">VIN</abbr> must be 17 characters');
                }
            } else {
                showErrors();
            }

            function next() {
                if (changing == "true") {
                    go('/trailer-record/actions/check-your-answers');
                } else {
                    go('/trailer-record/actions/removal-address/address-find');
                }
            }
        }

        $('input[name=sale-type]').click(function () {
            $('.error-message').hide();
            hideErrors();
        });

        function showErrors() {
            var title = $(document).prop('title');
            if (title.indexOf('Error') > -1) {
            } else {
                $(document).prop('title', 'Error: ' + title);
            }
            $('body').scrollTop(0);
            $('fieldset').closest('.form-group').addClass('form-group-error');
            // $('#over-3500').addClass('form-group-error');
            $('.form-control').addClass('form-control-error');
            $('.error-message').show().css('display', 'block');
            // $('.error-message.2').hide();
            $('.error-summary').show().focus();
            $('legend').attr('id', 'error-link');
        }

        function showErrors2() {
            var title = $(document).prop('title');
            if (title.indexOf('Error') > -1) {
            } else {
                $(document).prop('title', 'Error: ' + title);
            }
            $('body').scrollTop(0);
            $('fieldset').closest('.form-group').addClass('form-group-error');
            $('input').closest('.panel.panel-border-narrow').css({'border-left':'none','padding-left':'0'});
            $('#over-3500').addClass('form-group-error');
            $('.form-control').addClass('form-control-error');
            $('.error-message').hide();
            $('.error-message.2').show().css('display', 'block');
            $('.error-summary').show().focus();
            $('legend').attr('id', 'error-link');
        }

        function hideErrors() {
            $('.error-summary').hide();
            $('fieldset').closest('.form-group').removeClass('form-group-error');
            $('.form-control').removeClass('form-control-error');
            $('.error-message').hide();
            $('.error-message.2').hide();
            $('legend').attr('id', 'error-link');
        }

        // If coming from check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            if (currentTrailer.vin) {
                document.title = 'Change Vehicle Identification Number (VIN)';
                $('.title').html('Change Vehicle Identification Number (VIN)');
                $('input[value="Y"]').attr('checked', true);
                $('input[id=company-name]').val(member.disposal.name);
            }
            if (currentTrailer.chassis) {
                document.title = 'Change Vehicle Identification Number (VIN)/Chassis number';
                $('.title').html('Change Vehicle Identification Number (VIN)/Chassis number');
                $('input[value="N"]').attr('checked', true);
                $('input[id=name]').val(member.disposal.name);
            }
            $('.button').html('Save and continue');
        }
    </script>
{% endblock %}