{% extends "layout-v6.html" %}

{% block page_title %} Confirm your address {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There has been a problem</h1>

                    <p>Amend the following to continue</p>
                    <ul class="error-summary-list">
                        <li class="error-message address1"><a href="#qaddress">Address cannot be empty</a></li>
                        <li class="error-message posttown"><a href="#qposttown">Post town cannot be empty</a></li>
                        <li class="error-message postcode"><a href="#qpostcode">Postcode cannot be empty</a></li>
                        <!-- <li class="postcode error-message format"><a href="#qpostcode">Provide correct postcode format</a></li> -->
                    </ul>
                </div>

                <h1 class="heading-large">Enter new keeper’s address</h1>

                <form class="form">
                    <div class="form-group">
                        <fieldset>
                            <legend class="visuallyhidden">Enter new keeper’s address</legend>

                            <div class="form-group" id="qaddress">
                                <label class="form-label" for="address1">
                                    Address
                                    <span class="form-hint"></span>
                                </label>
                                <span class="error-message address1">Provide an address</span>
                                <input spellcheck="false" class="form-control form-control-3-4" id="address1" name="address1" type="text" value="">
                            </div>

                            <div class="form-group" id="qaddress2">
                                <label class="visuallyhidden form-label" for="address2">
                                    Address line 2
                                </label>
                                <input spellcheck="false" class="form-control form-control-3-4" id="address2" name="address2" type="text" value="">
                            </div>

                            <div class="form-group" id="qaddress3">
                                <label class="visuallyhidden form-label" for="address3">
                                    Address line 3
                                </label>
                                <input spellcheck="false" class="form-control form-control-3-4" id="address3" name="address3" type="text" value="">
                            </div>

                            <div class="form-group" id="qaddress4">
                                <label class="visuallyhidden form-label" for="address4">
                                    Address line 4
                                </label>
                                <input spellcheck="false" class="form-control form-control-3-4" id="address4" name="address4" type="text" value="">
                            </div>

                            <div class="form-group">
                                <p>Post town<br>
                                <span id="posttown" class="strong">Post town</strong></span></p>
                            </div>

                            <div class="form-group">
                                <p >Postcode<br>
                                <span id="postcode" class="strong">postcode</span></p>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <button class="button" type="button">Continue</button>
                    </div>

                    <a href="/trailer-record">Cancel and go to trailer dashboard</a>
                </form>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('h1').click(function() {
            var testData = {
                "address1": "Singleton Hospital",
                "address2": "Sketty Lane",
                "address3": "Sketty",
            };
            $('input[id=address1]').val(testData.address1);
            $('input[id=address2]').val(testData.address2);
            $('input[id=address3]').val(testData.address3);
        });

        $(document).ready(function () {
            $('#posttown').html(member.posttownTemp);
            $('#postcode').html(member.postcodeTemp);
        });

        $('input[id=postcode]').val(member.postcodeTemp);

        $('.button').click(checkAnswers);

        var address = {};

        function checkAnswers() {
            var validInput = true;

            if (member.address === undefined) {
                member.address = {};
            }

            // Hide before rechecking validation
            hideErrors();

            var addressLine1 = $('input[name=address1]').val();
            var addressPosttown = member.posttownTemp;
            var addressPostcode = member.postcodeTemp;

            if (!addressLine1) {
                validInput = false;
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $(document).find('input').first().addClass('form-control-error');
                $('input[name=address1]').closest('.form-group').addClass('form-group-error');
                $('.error-message.address1').css('display', 'block');
                $('body').scrollTop(0);
            }

            if (addressLine1.length > 45) {
                validInput = false;
                fixPageTitle();
                $('.error-summary').css('display', 'block').focus();
                $(document).find('input').first().addClass('form-control-error');
                $('input[name=address1]').closest('.form-group').addClass('form-group-error');
                $('.error-message.address1.high').css('display', 'block');
                $('body').scrollTop(0);
            }

            if (validInput) {
                member.disposal.address.Line1 = addressLine1;
                try {
                    member.disposal.address.Line2 = addressLine2;
                } catch(err){}
                try {
                    member.disposal.address.Line3 = addressLine3;
                } catch(err){}
                try {
                    member.disposal.address.Line4 = addressLine4;
                } catch(err){}
                member.disposal.address.City = addressPosttown;
                member.disposal.address.PostalCode = addressPostcode;
                delete member.postcodeTemp;
                delete member.address;
                delete member.addresses;

                console.log('TRUE');
                next();
            }
        }

        function next() {
            go('/trailer-record/actions/check-your-answers');
        }
    </script>
{% endblock %}