{% extends "layout-v6.html" %}

{% block page_title %} What is the new keepers address? {% endblock %}

{% block after_header %}
    {% include "includes/phase-banner/standard-back.html" %}
{% endblock %}





{% block content %}
    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% include "includes/errors/error-summary.html" %}

                <h1 class="heading-large">What is the new keeper’s address?</h1>

                <div class="form-group">
                    <label class="form-label" for="number">Building name or number (optional)</label>
                    <input class="form-control" id="number" name="number" type="text">
                </div>

                <div class="form-group postcode">
                    <fieldset>
                        <label class="form-label" for="postcode">
                            Postcode
                            <legend></legend>
                            {% include "includes/errors/error-message-input.html" %}
                        </label>
                        <input class="form-control form-control-1-4" id="postcode" name="postcode" type="text">
                    </fieldset>
                </div><br>

                <div class="form-group">
                    <button class="button" type="button" onclick="validate()">Find UK address</button>
                </div>

                <a href="/trailer-record" onclick="deleteDisposal()">Cancel and go to trailer account</a>
            </div>
        </div>
    </main>
{% endblock %}





{% block body_end %}
    <script type="text/javascript">
        $('h1').click(function() {
            var testData = { "postcode": "SA2 8QA" };
            $('input[id=postcode]').val(testData.postcode);
        });

        var changing = location.search.split('change=')[1];

        $('.button').click(validate);

        function validate() {
            // resetErrors();
            var validInput = true;
            var request = '?';

            var postcode = $('input[name=postcode]').val();
            if ((postcode == '') || (postcode == undefined)) {
                // $('#qpostcode').addClass('error');
                // $('.postcode.error-message').show();
                // $('.error-summary').show();
                // $('body').scrollTop(0);
                validInput = false;
                showErrors();
                $('input[name=postcode]').find().closest('form-group').addClass('form-control-error');
                $('.error-summary-list li a').html('Provide a postcode to continue');
                $('.error-message').html('Provide a postcode');
            } else {
                request += "postcode=" + postcode;
            }

            var number = $('input[name=number]').val();
            if ((number == '') || (number == undefined)) {
                // Do nothing
            } else {
                request += "&number=" + number;
            }

            if (validInput) {
                if (member.addresses === undefined) {
                    member.addresses = {};
                }

                // Create a playback string
                $.getJSON('/api/address-lookup' + encodeURI(request), function(addresses) {
                    member.addresses = addresses;

                    if (member.addresses.length === 1) {
                        // Load address into fields and allow to manually edit
                        member.address = member.addresses[0];

                        if (changing == "true") {
                            go('/trailer-record/actions/removal-address/address-confirmation?change=true');
                        } else {
                            go('/trailer-record/actions/removal-address/address-confirmation');
                        }
                    } else if (member.addresses.length > 1) {
                        // Show list of addresses

                        if (changing == "true") {
                            go('/trailer-record/actions/removal-address/address-list?change=true');
                        } else {
                            go('/trailer-record/actions/removal-address/address-list');
                        }
                    } else {
                        // No results, enter manually

                        if (changing == "true") {
                            go('/trailer-record/actions/removal-address/address-manual?change=true');
                        } else {
                            go('/trailer-record/actions/removal-address/address-manual');
                        }
                    }
                    console.log(addresses);
                });

                //next();
            } else {
                // showErrors();
            }
        }
    </script>
{% endblock %}